Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

Remove a do-while.
  mono/metadata/locales.c
Owners: @vargaz, @lambdageek, @thaystg

[Coop] Convert System.Diagnostics.{FileVersionInfo,Process}.
  configure.ac
  mcs/class/System/System.Diagnostics/FileVersionInfo.cs
  mcs/class/System/System.Diagnostics/Process.cs
  mono/metadata/icall-decl.h
  mono/metadata/icall-def.h
  mono/metadata/icall-table.h
  mono/metadata/w32process-internals.h
  mono/metadata/w32process-unix.c
  mono/metadata/w32process-win32-internals.h
  mono/metadata/w32process-win32-uwp.c
  mono/metadata/w32process-win32.c
  mono/metadata/w32process.c
  mono/metadata/w32process.h
  mono/utils/mono-proclib.c
Owners: @marek-safar, @steveisok, @akoeplinger, @vargaz, @lambdageek, @thaystg, @lateralusX, @lewurm

merging uwp with non-uwp
  mono/metadata/w32process-win32-internals.h
  mono/metadata/w32process-win32-uwp.c
  mono/metadata/w32process-win32.c
  mono/metadata/w32process.c
Owners: @lateralusX, @lambdageek

Consolidate UWP implementation with non-UWP implementation.
  mono/metadata/w32process-win32-internals.h
  mono/metadata/w32process-win32-uwp.c
  mono/metadata/w32process-win32.c
  mono/metadata/w32process.c
Owners: @lateralusX, @lambdageek

Add running the browser tests for threads.
  sdks/wasm/Makefile
  sdks/wasm/tests/browser/karma.conf.js
  sdks/wasm/tests/browser/src/BindingsTestSuite/BindingsTestSuite.csproj
  sdks/wasm/tests/browser/src/BrowserTestSuite.sln
  sdks/wasm/tests/browser/src/BrowserTestSuite/BrowserTestSuite.csproj
  sdks/wasm/tests/browser/src/Directory.Build.props
  sdks/wasm/tests/browser/src/HttpTestSuite/HttpTestSuite.csproj
  sdks/wasm/tests/browser/src/IssuesTestSuite/IssuesTestSuite.csproj
  sdks/wasm/tests/browser/src/WebSocketTestSuite/WebSocketTestSuite.csproj
  sdks/wasm/tests/browser/src/ZipTestSuite/ZipTestSuite.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

Add target for the browser threads tests run
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger, @directhex

Add const.
  mono/utils/mono-proclib.c
  mono/utils/mono-proclib.h
Owners: @vargaz, @lewurm, @lambdageek

Fix c++-ism.
  mono/metadata/locales.c
Owners: @vargaz, @lambdageek, @thaystg

more refinement
  mono/metadata/Makefile.am
  mono/metadata/w32process-win32-internals.h
  mono/metadata/w32process-win32-uwp.c
  mono/metadata/w32process-win32.c
  mono/metadata/w32process.c
Owners: @vargaz, @lambdageek, @thaystg, @lateralusX

Tabs to spaces and remove new include that seems unneeded.
  mono/metadata/w32process-win32.c
Owners: @lateralusX, @lambdageek

Cosmetic.
  mono/metadata/w32process-win32.c
Owners: @lateralusX, @lambdageek

Fix EnumProcesses call.
  mono/metadata/w32process-win32.c
Owners: @lateralusX, @lambdageek

[netcore] Re-enable AssemblyGetForwardedTypesLoadFailure (#15763)
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

Restore include mono-threads-coop.h.
  mono/metadata/w32process-win32.c
Owners: @lateralusX, @lambdageek

Add more tests to tarball with EXTRA_DIST
  mono/tests/Makefile.am
Owners: @marek-safar

Add more tests to tarball with EXTRA_DIST
  mono/tests/Makefile.am
Owners: @marek-safar

Special-case arrays of interfaces/generic parameters in IsAssignableFrom (#15749)
  mcs/class/corlib/Test/System/TypeTest.cs
  mono/metadata/class.c
Owners: @steveisok, @akoeplinger, @vargaz, @lambdageek, @thaystg

[interp] Enable inlining of object constructors (#15665)
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
Owners: @lewurm, @BrzVlad

Miscellaneous loader-related fixes (#15765)
  mono/metadata/assembly.c
  mono/metadata/loader-internals.h
  mono/metadata/metadata-internals.h
Owners: @vargaz, @lambdageek, @thaystg

[corlib] Foward System.Type.GetTypeFromProgID() to the correct function.
  mcs/class/corlib/Test/System/TypeTest.cs
  mcs/class/corlib/corert/Type.cs
Owners: @steveisok, @akoeplinger

Fix ambiguous time at the end of DST period on Windows
  mcs/class/corlib/System/TimeZoneInfo.cs
Owners: @steveisok, @akoeplinger

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Fix build on Autoconf 2.63 (#15636)
  m4/ax_append_flag.m4
Owners: @marek-safar

[netcore] Make assembly name parsing and comparison case-insensitive (#15522)
  mono/metadata/assembly.c
  mono/metadata/reflection.c
  netcore/CoreFX.issues.rsp
Owners: @vargaz, @lambdageek, @thaystg, @marek-safar, @akoeplinger, @egorbo, @steveisok

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc
