Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc

Update dependencies from https://github.com/dotnet/corefx build 20190718.5
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Rename aotprof-tool to aprofutil
  man/aprofutil.1
  mcs/tools/Makefile
  mcs/tools/aprofutil/Makefile
  mcs/tools/aprofutil/Program.cs
  mcs/tools/aprofutil/README.md
  mcs/tools/aprofutil/aotprof-tool.exe.sources
Owners: @alexrp, @marek-safar, @akoeplinger, @steveisok

[metadata] Fix name of header file
  mono/metadata/Makefile.am
  msvc/libmonoruntime-common.targets
  msvc/libmonoruntime-common.targets.filters
Owners: @vargaz, @lambdageek, @thaystg, @lateralusX, @kg, @akoeplinger

Add threads support to the SDK runtime generation.
  sdks/wasm/README.md
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets.buildschema.json
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

WebAssembly.Core.Array.Pop should return null if the WebAssembly.Core.Array is empty instead of error.
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Array.cs
  sdks/wasm/tests/browser/src/BindingsTestSuite/BindingsTestSuite.cs
  sdks/wasm/tests/browser/src/BrowserTestSuite/core-bindings-spec.js
Owners: @vargaz, @kjpou1, @kg, @lewing

Update dependencies from https://github.com/dotnet/corefx build 20190703.6
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Fix TypeMirror.CSharpName computation
  mcs/class/Mono.Debugger.Soft/Mono.Debugger.Soft/TypeMirror.cs
Owners: @vargaz, @thaystg

Update dependencies from https://github.com/dotnet/arcade build 20190703.19
  eng/Version.Details.xml
  eng/common/SigningValidation.proj
  eng/common/init-tools-native.sh
  eng/common/performance/perfhelixpublish.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/common/pipeline-logging-functions.ps1
  eng/common/pipeline-logging-functions.sh
  eng/common/post-build/trigger-subscriptions.ps1
  eng/common/templates/job/performance.yml
  eng/common/templates/post-build/channels/internal-servicing.yml
  eng/common/templates/post-build/channels/public-dev-release.yml
  eng/common/templates/post-build/channels/public-release.yml
  eng/common/templates/post-build/channels/public-validation-release.yml
  eng/common/templates/post-build/common-variables.yml
  eng/common/templates/steps/perf-send-to-helix.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

[netcore] Implement Thread.CurrentOSThreadId (#15748)
  mono/metadata/icall-def-netcore.h
  mono/metadata/threads.c
  mono/utils/mono-threads-aix.c
  mono/utils/mono-threads-android.c
  mono/utils/mono-threads-freebsd.c
  mono/utils/mono-threads-haiku.c
  mono/utils/mono-threads-linux.c
  mono/utils/mono-threads-mach.c
  mono/utils/mono-threads-netbsd.c
  mono/utils/mono-threads-openbsd.c
  mono/utils/mono-threads-wasm.c
  mono/utils/mono-threads-windows.c
  mono/utils/mono-threads.h
  netcore/System.Private.CoreLib/src/System.Threading/Thread.cs
Owners: @vargaz, @lambdageek, @thaystg, @lateralusX, @marek-safar, @akoeplinger, @egorbo, @steveisok

[metadata] Fields whose types are gparams with a reference type constraint aren't blittlable.
  mono/metadata/class-init.c
  mono/metadata/class.c
  mono/metadata/metadata.c
Owners: @vargaz, @lambdageek, @thaystg

[sdks] Calculate sha1 of sdks archive and upload it
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[sdks] Calculate sha1 of sdks archive and upload it
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Fix test
  mcs/class/corlib/Test/System/TypeTest.cs
Owners: @steveisok, @akoeplinger

[netcore] Re-enable AssemblyGetForwardedTypesLoadFailure
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

Remove mono_arch_free_jit_tls_data. (#15662)
  mono/mini/mini-amd64.c
  mono/mini/mini-arm.c
  mono/mini/mini-arm64.c
  mono/mini/mini-mips.c
  mono/mini/mini-ppc.c
  mono/mini/mini-riscv.c
  mono/mini/mini-runtime.c
  mono/mini/mini-s390x.c
  mono/mini/mini-sparc.c
  mono/mini/mini-wasm.c
  mono/mini/mini-x86.c
  mono/mini/mini.h
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT, @alexrp

[ci] Run OSX package builds on master only once per day
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Clarify contents of list
  mono/metadata/assembly.c
Owners: @vargaz, @lambdageek, @thaystg

Fix mono_assembly_get_alc
  mono/metadata/metadata-internals.h
Owners: @vargaz, @lambdageek, @thaystg

Remove pointless ifdef
  mono/metadata/loader-internals.h
Owners: @vargaz, @lambdageek, @thaystg

Prepend to domain_assemblies
  mono/metadata/appdomain.c
  mono/metadata/sre.c
Owners: @vargaz, @lambdageek, @thaystg

[ci] Remove -f option from genhtml during code coverage
  scripts/ci/collect-coverage.sh
Owners: @akoeplinger, @directhex

[tests] Add regression test for recursive generic field initialization.
  mono/tests/Makefile.am
  mono/tests/recursive-generics.3.cs
Owners: @marek-safar

[packaging] Don't use dl.xamarin.com for gtksharp package anymore
  packaging/Windows/defs/gtksharp
Owners: @alexischr, @akoeplinger, @directhex

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Revert "Prepend to domain_assemblies"
  mono/metadata/appdomain.c
  mono/metadata/sre.c
Owners: @vargaz, @lambdageek, @thaystg

[ci] Fix OSX package builds to only be timer-triggered on master
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

Ditch another ifdef
  mono/metadata/metadata-internals.h
Owners: @vargaz, @lambdageek, @thaystg

[ci] Don't use method which is not allowed in Groovy sandbox
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[ci] Clean working directory after build in package and sdks build
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

[packaging] Don't use dl.xamarin.com for gtksharp package anymore
  packaging/Windows/defs/gtksharp
Owners: @alexischr, @akoeplinger, @directhex

[ci] Clean working directory after build in package and sdks build
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex
