Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc

Iterate over gunichar2
  mono/utils/mono-proclib.c
Owners: @vargaz, @lewurm, @lambdageek

Update dependencies from dotnet/corefx
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

[wasm][size-diff] fix typo in wasm targets (#15676)
  mcs/tools/linker/Makefile
Owners: @marek-safar, @akoeplinger, @steveisok

[sdks] Update android linux builds to Debian 10
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[sdks] Update android linux builds to Debian 10
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[interp] Pass the vtable to get_virtual_method () to reduce the number of objrefs being passed around.
  mono/mini/interp/interp.c
Owners: @lewurm, @BrzVlad

No longer a prototype.
  mono/mini/interp/interp.c
Owners: @lewurm, @BrzVlad

[System] Keep events from firing from a disposed 'DefaultWatcher' FileSystemWatcher
  mcs/class/System/System.IO/DefaultWatcher.cs
  mcs/class/System/System.IO/FileSystemWatcher.cs
Owners: @steveisok, @akoeplinger

[interp] Make the code GC safe on wasm.
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
Owners: @lewurm, @BrzVlad

[sdks] Use Azul Zulu OpenJDK for Android Linux build, since Debian 10 has no Java 8
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[sdks] Use Azul Zulu OpenJDK for Android Linux build, since Debian 10 has no Java 8
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

Initialize `sigstart` also.
  mono/metadata/icall.c
Owners: @vargaz, @lambdageek, @thaystg

Fix leaks in mono_lookup_internal_call_full_with_flags, for lack of C++ destructors.
  mono/metadata/icall.c
Owners: @vargaz, @lambdageek, @thaystg

Fix race condition and use less memory in mono_lookup_icall_symbol. Albeit a little slower due to indirection. Also fix the chance of overflow in the comparison of pointers. Subtraction is not safe.
  mono/metadata/icall-table.c
  mono/mini/main.c
Owners: @vargaz, @lambdageek, @thaystg, @lewurm, @SamMonoRT

sync recent ns21 changes
  mcs/class/Facades/netstandard/TypeForwarders.cs
  mcs/class/System.Data/corefx.common.sources
  mcs/class/System.Data/corefx/DataReaderExtensions.cs
  mcs/class/System.Net.Http/System.Net.Http/HttpResponseMessage.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventCounter.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventSource.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventWrittenEventArgs.cs
  mcs/class/corlib/corefx/AesCcm.cs
  mcs/class/corlib/corefx/AesGcm.cs
  mcs/class/corlib/corefx/DiagnosticCounter.cs
  mcs/class/corlib/corefx/IncrementingEventCounter.cs
  mcs/class/corlib/corefx/IncrementingPollingCounter.cs
  mcs/class/corlib/corefx/PollingCounter.cs
  mcs/class/corlib/corlib.dll.sources
Owners: @steveisok, @akoeplinger, @egorbo

bump ns assembly version
  mcs/class/Facades/netstandard/AssemblyInfo.cs
Owners: @steveisok, @akoeplinger

configure/makefile To support updating zlib to 1.2.11.
  configure.ac
  mono/metadata/Makefile.am
  support/Makefile.am
Owners: @marek-safar, @vargaz, @lambdageek, @thaystg

Fix use of freed memory.
  mono/mini/mini-runtime.c
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT

[netcore] Clean up rsp-file
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

fix build error
  mcs/class/System.Data/corefx.common.sources
Owners: @egorbo, @steveisok

Update DataReaderExtensions.cs
  mcs/class/System.Data/corefx/DataReaderExtensions.cs
Owners: @egorbo, @steveisok

Use frame->o only on WASM.
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
Owners: @lewurm, @BrzVlad

Revert "Update dependencies from dotnet/corefx"
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

[netcore] Clear system last error before P/Invoke calls with SetLastError=true
  mono/metadata/jit-icall-reg.h
  mono/metadata/marshal.c
  mono/metadata/marshal.h
  mono/mini/interp/interp.c
  mono/mini/method-to-ir.c
Owners: @vargaz, @lambdageek, @thaystg, @lewurm, @BrzVlad, @SamMonoRT

Bump msbuild to track xplat-master
  packaging/MacSDK/msbuild.py
  packaging/MacSDK/nuget.py
Owners: @radical, @akoeplinger, @alexischr, @directhex

[runtime] Fix the error message for exceptions created from MonoError.
  mono/utils/mono-error-internals.h
Owners: @vargaz, @lewurm, @lambdageek

[wasm] disable gac in wasm runtime
  configure.ac
Owners: @marek-safar

[wasm] disable gac wasm.mk not configure.ac
  configure.ac
  sdks/builds/wasm.mk
Owners: @marek-safar, @vargaz, @kjpou1, @lewing

[System] Keep events from firing from a disposed 'DefaultWatcher' FileSystemWatcher
  mcs/class/System/System.IO/DefaultWatcher.cs
  mcs/class/System/System.IO/FileSystemWatcher.cs
Owners: @steveisok, @akoeplinger

Enable the compiler server by default
  configure.ac
Owners: @marek-safar

Disable compiler server on darwin. Add force-enable option for compiler server. (#15450)
  configure.ac
Owners: @marek-safar

Bump msbuild to msbuild:mono-2019-06 to stop disabling compiler server
  packaging/MacSDK/msbuild.py
Owners: @radical, @akoeplinger

formatting fix
  mono/metadata/loaded-images.c
Owners: @vargaz, @lambdageek, @thaystg

Bump msbuild to msbuild:mono-2019-06 to stop disabling compiler server
  packaging/MacSDK/msbuild.py
Owners: @radical, @akoeplinger

[msvc] Add new files to .filters
  msvc/libmonoruntime-common.targets.filters
Owners: @lateralusX, @kg, @akoeplinger

[netcore] Ignore public key when matching assemblies (#15678)
  mono/metadata/assembly.c
Owners: @vargaz, @lambdageek, @thaystg

[netcore] Use the strict loader (#15668)
  mono/mini/main-core.c
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT

[bcl] Add Mono.Cecil.Mdb assembly to monodroid_tools profile
  mcs/class/Makefile
Owners: @steveisok, @akoeplinger

update comments
  mono/metadata/appdomain.c
  mono/metadata/image.c
Owners: @vargaz, @lambdageek, @thaystg

[ci] Bump timeout for .pkg signing job
  scripts/ci/pipeline/osx-package.groovy
Owners: @akoeplinger, @directhex
