Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc

[2019-06][ios] Switch to python offset tool (#15756)
  mono/utils/mono-context.h
  scripts/ci/pipeline/sdks-archive.groovy
  sdks/builds/ios.mk
  sdks/builds/runtime.mk
  tools/offsets-tool-py/Makefile
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @lewurm, @lambdageek, @akoeplinger, @directhex, @rolfbjarne, @marek-safar

Implement debugger invoke when the this has an attribute that is a fixed size array. Fixes #15556
  mcs/class/Mono.Debugger.Soft/Mono.Debugger.Soft/Connection.cs
  mcs/class/Mono.Debugger.Soft/Mono.Debugger.Soft/FieldInfoMirror.cs
  mcs/class/Mono.Debugger.Soft/Mono.Debugger.Soft/VirtualMachine.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest-app.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
  mono/mini/debugger-agent.c
Owners: @vargaz, @thaystg, @DavidKarlas, @lambdageek

[netcore] Make System.Linq.Expressions.Tests.BindTests.GlobalField Pass (#15658)
  netcore/CoreFX.issues.rsp
  netcore/System.Private.CoreLib/src/System.Reflection/RuntimeFieldInfo.cs
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

Fix packaging of the SDK when the runtime for threads does not exist
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

Add threads support to the SDK runtime generation.
  sdks/wasm/README.md
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets.buildschema.json
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

Add `Signing.props` file to `common` directory to be referenced from a common place
  sdks/wasm/common/Signing.props
  sdks/wasm/framework/src/Directory.Build.props
  sdks/wasm/framework/src/WebAssembly.Bindings/WebAssembly.Bindings.csproj
  sdks/wasm/framework/src/WebAssembly.Net.Http/WebAssembly.Net.Http.csproj
  sdks/wasm/framework/src/WebAssembly.Net.WebSockets/WebAssembly.Net.WebSockets.csproj
  sdks/wasm/sdk/Directory.Build.props
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Framework/Mono.WebAssembly.Framework.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/Mono.WebAssembly.Sdk.csproj
  sdks/wasm/sdk/WebAssembly.Bindings.Framework/WebAssembly.Bindings.csproj
  sdks/wasm/sdk/WebAssembly.Net.WebSockets/WebAssembly.Net.WebSockets.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Removing unrelated changes.
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
Owners: @vargaz, @thaystg

[netcore] Implement AssemblyLoadContext.InternalLoad
  mono/metadata/appdomain.c
  mono/metadata/icall-def-netcore.h
  netcore/CoreFX.issues.rsp
  netcore/System.Private.CoreLib/src/System.Runtime.Loader/AssemblyLoadContext.cs
Owners: @vargaz, @lambdageek, @thaystg, @marek-safar, @akoeplinger, @egorbo, @steveisok

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.08
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Update dependencies from https://github.com/dotnet/core-setup build 20190703.05
  eng/Version.Details.xml
  eng/Versions.props
Owners: @marek-safar

Remove dlmalloc from Win32. Do not serialize dynamic codeman allocations.
  mono/utils/Makefile.am
  mono/utils/mono-codeman.c
  msvc/libmonoutils-common.targets
  msvc/libmonoutils-common.targets.filters
Owners: @vargaz, @lewurm, @lambdageek, @lateralusX, @kg, @akoeplinger

Serialize Win32 heap which seems unnecessary due to one sticky crash in CI.
  mono/utils/mono-codeman.c
Owners: @vargaz, @lewurm, @lambdageek

cleanup
  mono/utils/mono-codeman.c
Owners: @vargaz, @lewurm, @lambdageek

[runtime] Convert ValueType icalls to handles.
  mono/metadata/handle.h
  mono/metadata/icall-decl.h
  mono/metadata/icall-def.h
  mono/metadata/icall.c
Owners: @lambdageek, @vargaz, @thaystg

Fix the netcore build.
  mono/metadata/icall-def-netcore.h
Owners: @vargaz, @lambdageek, @thaystg

[runtime] Convert Environment icalls to handles.
  mono/metadata/icall-decl.h
  mono/metadata/icall-def-netcore.h
  mono/metadata/icall-def.h
  mono/metadata/icall-internals.h
  mono/metadata/icall-windows-uwp.c
  mono/metadata/icall-windows.c
  mono/metadata/icall.c
Owners: @vargaz, @lambdageek, @thaystg, @lateralusX

[runtime] Mark a few icalls as NOHANDLES.
  mono/metadata/icall-def-netcore.h
  mono/metadata/icall-def.h
Owners: @vargaz, @lambdageek, @thaystg

[runtime] Convert AssemblyBuilder.basic_init to handles using a gc handle to pin the object.
  mono/metadata/icall-def-netcore.h
  mono/metadata/icall-def.h
  mono/metadata/object-internals.h
  mono/metadata/sre-internals.h
  mono/metadata/sre-save.c
  mono/metadata/sre.c
Owners: @vargaz, @lambdageek, @thaystg

[runtime] Convert locale code to use handles.
  mono/metadata/icall-def.h
  mono/metadata/icall-table.h
  mono/metadata/locales.c
  mono/metadata/locales.h
  mono/metadata/object-internals.h
Owners: @vargaz, @lambdageek, @thaystg

[Coop] In-place object and string handle constructors to port loops w/o structural change.
  mono/metadata/cominterop.c
  mono/metadata/gc-internals.h
  mono/metadata/gc.c
  mono/metadata/handle.h
  mono/metadata/object-internals.h
  mono/metadata/object.c
Owners: @vargaz, @lambdageek, @thaystg

Sort a list of defines.
  mono/metadata/icall-table.h
Owners: @vargaz, @lambdageek, @thaystg
