Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc

[ci] Bump timeout for .pkg signing job
  scripts/ci/pipeline/osx-package.groovy
Owners: @akoeplinger, @directhex

[2019-06] [System] Keep events from firing from a disposed 'De… (#15706)
  mcs/class/System/System.IO/DefaultWatcher.cs
  mcs/class/System/System.IO/FileSystemWatcher.cs
Owners: @steveisok, @akoeplinger

Fix use of freed memory. (#15660)
  mono/mini/mini-runtime.c
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT

[image] Change mono_loaded_images_remove_image to decrement the refcount
  mono/metadata/image.c
  mono/metadata/loaded-images-internals.h
  mono/metadata/loaded-images.c
Owners: @vargaz, @lambdageek, @thaystg

[loader] Drop unused argument to mono_alc_init
  mono/metadata/assembly-load-context.c
  mono/metadata/domain.c
  mono/metadata/loader-internals.h
Owners: @vargaz, @lambdageek, @thaystg

[interp] Make the code GC safe on wasm. (#15695)
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
Owners: @lewurm, @BrzVlad

[ios][android] disable gac in ios and android sdk builds
  sdks/builds/android.mk
  sdks/builds/ios.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne

[ci] Wait for signing outside of a node() block
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

[ci] Wait for signing outside of a node() block
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

[runtime] Fix the error message for exceptions created from MonoError. (#15705)
  mono/utils/mono-error-internals.h
Owners: @vargaz, @lewurm, @lambdageek

[wasm] disable gac in wasm runtime (#15686)
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing

[bcl] Update BCL Linked Size
  mcs/tools/linker/wasm-linked-size.csv
Owners: @marek-safar, @akoeplinger, @steveisok

Add another dash since PASE merely warns otherwise.
  configure.ac
Owners: @marek-safar

Address PR feedback
  mono/mini/aot-runtime.h
  mono/mini/interp/interp.c
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT, @BrzVlad

[ci] Remove separate utils.groovy file
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
  scripts/ci/pipeline/utils.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

[ci] Remove separate utils.groovy file
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
  scripts/ci/pipeline/utils.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

[csproj] Update project files
  mcs/class/Mono.Cecil.Mdb/Mono.Cecil.Mdb.csproj
Owners: @steveisok, @akoeplinger

[bcl] Add Mono.Cecil.Mdb assembly to monodroid_tools profile (#15710)
  mcs/class/Makefile
  mcs/class/Mono.Cecil.Mdb/Mono.Cecil.Mdb.csproj
Owners: @steveisok, @akoeplinger

[bcl] Add Mono.Cecil.Mdb assembly to monodroid_tools profile
  mcs/class/Makefile
Owners: @steveisok, @akoeplinger

[csproj] Update project files
  mcs/class/Mono.Cecil.Mdb/Mono.Cecil.Mdb.csproj
Owners: @steveisok, @akoeplinger

address feedback
  mcs/class/corlib/corefx/AesCcm.cs
  mcs/class/corlib/corefx/AesGcm.cs
Owners: @steveisok, @akoeplinger

[bcl] Update BCL Linked Size
  mcs/tools/linker/wasm-linked-size.csv
Owners: @marek-safar, @akoeplinger, @steveisok

[2019-06] [bcl] Add Mono.Cecil.Mdb assembly to monodroid_tools… (#15718)
  mcs/class/Makefile
  mcs/class/Mono.Cecil.Mdb/Mono.Cecil.Mdb.csproj
Owners: @steveisok, @akoeplinger

[csproj] Update project files
  mcs/class/System.Data/System.Data.csproj
  mcs/class/corlib/corlib.csproj
Owners: @egorbo, @steveisok, @akoeplinger

[bcl] Sync recent NS2.1 changes (#15696)
  mcs/class/Facades/netstandard/AssemblyInfo.cs
  mcs/class/Facades/netstandard/TypeForwarders.cs
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System.Data/corefx.common.sources
  mcs/class/System.Data/corefx/DataReaderExtensions.cs
  mcs/class/System.Net.Http/System.Net.Http/HttpResponseMessage.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventCounter.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventSource.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventWrittenEventArgs.cs
  mcs/class/corlib/corefx/AesCcm.cs
  mcs/class/corlib/corefx/AesGcm.cs
  mcs/class/corlib/corefx/DiagnosticCounter.cs
  mcs/class/corlib/corefx/IncrementingEventCounter.cs
  mcs/class/corlib/corefx/IncrementingPollingCounter.cs
  mcs/class/corlib/corefx/PollingCounter.cs
  mcs/class/corlib/corlib.csproj
  mcs/class/corlib/corlib.dll.sources
Owners: @steveisok, @akoeplinger, @egorbo

sync recent ns21 changes
  mcs/class/Facades/netstandard/TypeForwarders.cs
  mcs/class/System.Data/corefx.common.sources
  mcs/class/System.Data/corefx/DataReaderExtensions.cs
  mcs/class/System.Net.Http/System.Net.Http/HttpResponseMessage.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventCounter.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventSource.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventWrittenEventArgs.cs
  mcs/class/corlib/corefx/AesCcm.cs
  mcs/class/corlib/corefx/AesGcm.cs
  mcs/class/corlib/corefx/DiagnosticCounter.cs
  mcs/class/corlib/corefx/IncrementingEventCounter.cs
  mcs/class/corlib/corefx/IncrementingPollingCounter.cs
  mcs/class/corlib/corefx/PollingCounter.cs
  mcs/class/corlib/corlib.dll.sources
Owners: @steveisok, @akoeplinger, @egorbo

Update DataReaderExtensions.cs
  mcs/class/System.Data/corefx/DataReaderExtensions.cs
Owners: @egorbo, @steveisok

bump ns assembly version
  mcs/class/Facades/netstandard/AssemblyInfo.cs
Owners: @steveisok, @akoeplinger

fix build error
  mcs/class/System.Data/corefx.common.sources
Owners: @egorbo, @steveisok

address feedback
  mcs/class/corlib/corefx/AesCcm.cs
  mcs/class/corlib/corefx/AesGcm.cs
Owners: @steveisok, @akoeplinger

[csproj] Update project files
  mcs/class/System.Data/System.Data.csproj
  mcs/class/corlib/corlib.csproj
Owners: @egorbo, @steveisok, @akoeplinger

Revert "[ci] Remove separate utils.groovy file" and run step on master instead
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
  scripts/ci/pipeline/utils.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

Revert "[ci] Remove separate utils.groovy file" and run step on master instead
  scripts/ci/pipeline/osx-package.groovy
  scripts/ci/pipeline/sdks-archive.groovy
  scripts/ci/pipeline/utils.groovy
  scripts/ci/pipeline/win-package.groovy
Owners: @akoeplinger, @directhex

[2019-06] [bcl] Sync recent NS2.1 changes (#15719)
  mcs/class/Facades/netstandard/AssemblyInfo.cs
  mcs/class/Facades/netstandard/TypeForwarders.cs
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System.Data/corefx.common.sources
  mcs/class/System.Data/corefx/DataReaderExtensions.cs
  mcs/class/System.Net.Http/System.Net.Http/HttpResponseMessage.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventCounter.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventSource.cs
  mcs/class/corlib/System.Diagnostics.Tracing/EventWrittenEventArgs.cs
  mcs/class/corlib/corefx/AesCcm.cs
  mcs/class/corlib/corefx/AesGcm.cs
  mcs/class/corlib/corefx/DiagnosticCounter.cs
  mcs/class/corlib/corefx/IncrementingEventCounter.cs
  mcs/class/corlib/corefx/IncrementingPollingCounter.cs
  mcs/class/corlib/corefx/PollingCounter.cs
  mcs/class/corlib/corlib.csproj
  mcs/class/corlib/corlib.dll.sources
Owners: @steveisok, @akoeplinger, @egorbo

Add com.apple.security.cs.allow-unsigned-executable-memory exception to hardened runtime entitlements
  mono/mini/mac-entitlements.plist
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT

[netcore] Clear system last error before P/Invoke calls with SetLastError=true (#15703)
  mono/metadata/jit-icall-reg.h
  mono/metadata/marshal.c
  mono/metadata/marshal.h
  mono/mini/aot-runtime.h
  mono/mini/interp/interp.c
  mono/mini/method-to-ir.c
Owners: @vargaz, @lambdageek, @thaystg, @lewurm, @SamMonoRT, @BrzVlad

Formatting fix
  mono/metadata/class.c
Owners: @vargaz, @lambdageek, @thaystg

Special-case arrays of interfaces/generic parameters
  mono/metadata/class.c
Owners: @vargaz, @lambdageek, @thaystg

Fix TypeMirror.CSharpName computation
  mcs/class/Mono.Debugger.Soft/Mono.Debugger.Soft/TypeMirror.cs
Owners: @vargaz, @thaystg

Add com.apple.security.cs.allow-unsigned-executable-memory exception to hardened runtime entitlements (#15721)
  mono/mini/mac-entitlements.plist
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT
