Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @bauligg, @thaystg, @jonpryor, @rolf, @alexanderkyte, @brzvlad, @lateralusX, @DavidKarlas, @directhex, @rolfbjarne, @kjpou1, @lewing

[wasm] Enable Mono.Native. (#12143)
  configure.ac
  mcs/class/corlib/Test/System.Diagnostics/StackFrameTest.cs
  mcs/class/corlib/Test/System.IO/DirectoryTest.cs
  mcs/class/corlib/Test/System.IO/FileInfoTest.cs
  mcs/class/corlib/Test/System.Reflection/AssemblyNameTest.cs
  mcs/class/corlib/Test/System.Reflection/AssemblyTest.cs
  mcs/class/corlib/Test/System.Resources/ResourceManagerTest.cs
  mcs/class/corlib/corlib.csproj
  mcs/class/corlib/wasm_corlib.dll.exclude.sources
  mcs/class/corlib/wasm_corlib.dll.sources
  mono/mini/mini-wasm.c
  scripts/ci/run-jenkins.sh
  sdks/wasm/Makefile
  sdks/wasm/driver.c
  sdks/wasm/packager.cs
Owners: @luhenry, @marek-safar, @akoeplinger, @vargaz, @lewurm, @alexischr, @kjpou1, @kg, @lewing

Moves ComTypes to shared partition (dotnet/coreclr#21861)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IBindCtx.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPoint.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPointContainer.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumConnectionPoints.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumConnections.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumMoniker.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumString.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumVARIANT.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IMoniker.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IPersistFile.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IRunningObjectTable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IStream.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeComp.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeInfo.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeInfo2.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib2.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[bcl] Update BCL Linked Size
  mcs/tools/linker/monodroid-linked-size.csv
  mcs/tools/linker/monotouch-linked-size.csv
  mcs/tools/linker/net_4_x-linked-size.csv
  mcs/tools/linker/wasm-linked-size.csv
Owners: @marek-safar, @akoeplinger

[corlib] Fix monodroid build to reinclude CoreFX System.IO
  mcs/class/corlib/monodroid_corlib.dll.exclude.sources
  mcs/class/corlib/monodroid_corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[corlib] Fix orbis and unreal builds to reinclude CoreFX System.IO
  mcs/class/corlib/orbis_corlib.dll.exclude.sources
  mcs/class/corlib/orbis_corlib.dll.sources
  mcs/class/corlib/unreal_corlib.dll.exclude.sources
  mcs/class/corlib/unreal_corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[bcl] Update BCL Linked Size
  mcs/tools/linker/monodroid-linked-size.csv
  mcs/tools/linker/monotouch-linked-size.csv
  mcs/tools/linker/net_4_x-linked-size.csv
  mcs/tools/linker/wasm-linked-size.csv
Owners: @marek-safar, @akoeplinger

Moves ComTypes to shared partition (dotnet/coreclr#21861)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IBindCtx.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPoint.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPointContainer.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumConnectionPoints.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumConnections.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumMoniker.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumString.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumVARIANT.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IMoniker.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IPersistFile.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IRunningObjectTable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IStream.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeComp.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeInfo.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeInfo2.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib2.cs
Owners: @marek-safar, @akoeplinger, @egorbo

CoreRT updates for files moved to shared partition
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComImportAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComInterfaceType.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPoint.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib2.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/InterfaceTypeAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/LCIDConversionAttribute.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Fix path length 255 (dotnet/coreclr#21838)
  netcore/System.Private.CoreLib/shared/Interop/Unix/System.Native/Interop.ReadDir.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Fix path length 255 (dotnet/coreclr#21838)
  netcore/System.Private.CoreLib/shared/Interop/Unix/System.Native/Interop.ReadDir.cs
Owners: @marek-safar, @akoeplinger, @egorbo

CoreRT updates for files moved to shared partition
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComImportAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComInterfaceType.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPoint.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib2.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/InterfaceTypeAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/LCIDConversionAttribute.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[csproj] Update project files
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System/System.csproj
Owners: @egorbo, @marek-safar, @akoeplinger

[wasm] Fix build target errors
  sdks/wasm/Makefile
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets
  sdks/wasm/sdk/Mono.WebAssembly.Build/WasmLinkAssemblies.cs
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props
Owners: @vargaz, @kjpou1, @kg, @lewing

Missed a file commit
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets
Owners: @vargaz, @kjpou1, @kg, @lewing

Move `ENABLE_GSS` conditional into `System`; fixes #12263.
  mcs/class/System.Data/Makefile
  mcs/class/System/Makefile
Owners: @egorbo, @marek-safar, @akoeplinger

[csproj] Update project files
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System/System.csproj
Owners: @egorbo, @marek-safar, @akoeplinger

[debugger] Fix test ShouldCorrectlyStepOverOnExitFromArgsAfterStepInMethodParameter (#12114)
  mcs/class/Mono.Debugger.Soft/Test/dtest-app.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
  mono/metadata/seq-points-data.h
  mono/mini/debugger-engine.c
  mono/mini/interp/transform.c
  mono/mini/method-to-ir.c
  mono/mini/mini.h
  mono/mini/seq-points.c
Owners: @vargaz, @thaystg, @lambdageek, @lewurm, @BrzVlad

Update FileSystem.NotSupported.cs
  mcs/class/corlib/System.IO/FileSystem.NotSupported.cs
Owners: @marek-safar, @akoeplinger

Fix warnings and build errors when bumping Mono on alternative Windows platforms.
  mono/eglib/glib.h
  mono/metadata/assembly.c
  mono/metadata/custom-attrs.c
  mono/metadata/domain.c
  mono/metadata/handle.c
  mono/metadata/handle.h
  mono/metadata/icall.c
  mono/metadata/metadata-verify.c
  mono/metadata/metadata.c
  mono/metadata/mono-security-windows-uwp.c
  mono/metadata/object.c
  mono/metadata/threadpool-io-poll.c
  mono/metadata/threads.c
  mono/metadata/w32file-win32.c
  mono/metadata/w32process-win32-internals.h
  mono/metadata/w32subset.h
  mono/mini/calls.c
  mono/mini/driver.c
  mono/mini/interp/transform.c
  mono/mini/intrinsics.c
  mono/mini/mini-runtime.c
  mono/mini/tramp-amd64.c
  mono/utils/mono-context.h
  mono/utils/mono-dl-windows.c
  mono/utils/mono-os-wait-win32.c
  msvc/build-external-btls.bat
  msvc/build-external-btls.vcxproj
  msvc/build-external-llvm.bat
  msvc/build-external-llvm.vcxproj
  msvc/libgc.vcxproj
  msvc/libgcmonosgen.vcxproj
  msvc/mono.external.targets
Owners: @vargaz, @luhenry, @lambdageek, @lateralusX, @lewurm, @BrzVlad

Move `ENABLE_GSS` conditional into `System`; fixes #12263. (#12303)
  mcs/class/System.Data/Makefile
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System/Makefile
  mcs/class/System/System.csproj
Owners: @egorbo, @marek-safar, @akoeplinger

[csproj] Update project files
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System/System.csproj
Owners: @egorbo, @marek-safar, @akoeplinger

[2018-12] Move `ENABLE_GSS` conditional into `System`; fixes #12263. (#12315)
  mcs/class/System.Data/Makefile
  mcs/class/System.Data/System.Data.csproj
  mcs/class/System/Makefile
  mcs/class/System/System.csproj
Owners: @egorbo, @marek-safar, @akoeplinger

Fix build error when doing MSVC build wihtout cygwin not having a config.h.
  msvc/build-init.vcxproj
  msvc/winsetup.bat
Owners: @lateralusX, @luhenry

[Android] Fix build with NDK r18 (#12295)
  configure.ac
  mono/utils/mono-compiler.h
  sdks/builds/android.mk
  sdks/builds/runtime.mk
  sdks/versions.mk
Owners: @luhenry, @marek-safar, @vargaz, @lewurm, @jonpryor

PR: MONO_ENTER_NO_SAFEPOINTS instead of gchandle.
  mono/metadata/object.c
Owners: @vargaz, @lambdageek

Push/pop frames in loops and mind the return/goto/break/continue carefully, instead of using assignment.
  mono/metadata/mono-perfcounters.c
  mono/metadata/object-internals.h
  mono/metadata/object.c
Owners: @vargaz, @lambdageek

fix build
  mcs/class/corlib/unix_build_corlib.dll.sources
Owners: @marek-safar, @akoeplinger

PR: Reduce gsize to adequate int, move multiple int declarations to same line.
  mono/metadata/mono-perfcounters.c
Owners: @vargaz, @lambdageek

PR: Fix prototypes in disabled code.
  mono/metadata/mono-perfcounters.c
Owners: @vargaz, @lambdageek

PR: Spell out `int` as `gint32`.
  mono/metadata/icall-def.h
  mono/metadata/icall-table.h
  mono/metadata/mono-perfcounters.c
Owners: @vargaz, @lambdageek

fix build
  mcs/class/System/monodroid_System.dll.sources
  mcs/class/System/unix_net_4_x_System.dll.sources
Owners: @marek-safar, @akoeplinger

fix build
  mcs/class/corlib/System.IO/FileSystem.NotSupported.cs
Owners: @marek-safar, @akoeplinger

[System.Net.Http] Fix CFNetworkHandler when no data is sent
  mcs/class/System.Net.Http/CFNetworkHandler.cs
Owners: @marek-safar, @akoeplinger

[backport] Preserve old EnableMicrosoftTelemetry signature on backport
  mcs/class/corlib/Mono/Runtime.cs
  mono/tests/merp-json-valid.cs
Owners: @marek-safar, @akoeplinger, @luhenry

[backport] Preserve old EnableMicrosoftTelemetry signature on backport
  mcs/class/corlib/Mono/Runtime.cs
  mono/tests/merp-json-valid.cs
Owners: @marek-safar, @akoeplinger, @luhenry

[backport] Preserve old EnableMicrosoftTelemetry signature on backport
  mcs/class/corlib/Mono/Runtime.cs
  mono/tests/merp-json-valid.cs
Owners: @marek-safar, @akoeplinger, @luhenry

[wasm] Fix build when emsdk repo is dirty
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing

Don't throw in pipestream's finalizer. Include named pipe support in the build profile.
  mcs/build/profiles/build.make
  mcs/class/System.Core/System.IO.Pipes/PipeStream.NotSupported.cs
  mcs/class/System.Core/build_System.Core.dll.sources
Owners: @marek-safar, @akoeplinger

fix build
  mono/native/Makefile.am
Owners: @baulig, @luhenry, @marek-safar

Split unix build profile sources file out
  mcs/class/System.Core/build_System.Core.dll.sources
  mcs/class/System.Core/unix_build_System.Core.dll.sources
Owners: @marek-safar, @akoeplinger

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz @luhenry
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @luhenry @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @marek-safar
/mcs/class/Mono.Btls.Interface @bauligg @marek-safar
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @alexrp @luhenry
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @marek-safar
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig  @marek-safar
/mcs/class/System/Mono.Net.Security @baulig  @marek-safar
/mcs/class/System/Mono.Security.Interface @baulig  @marek-safar
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig  @marek-safar
/mcs/class/System.Data* @egorbo  @marek-safar

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @alexanderkyte @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @luhenry @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @luhenry

/mono/benchmark @alexanderkyte @luhenry

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek @luhenry
/mono/metadata/*profiler* @alexrp @luhenry
/mono/metadata/handle* @luhenry @lambdageek
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @luhenry @lateralusX
/mono/metadata/w32* @luhenry @lateralusX
/mono/metadata/*-win* @lateralusX @luhenry @luhenry

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm @luhenry
/mono/mini/*exceptions* @lewurm @luhenry
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @luhenry
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas

/mono/native @baulig @luhenry @marek-safar

/mono/profiler @alexrp @luhenry

/mono/sgen @BrzVlad @luhenry

/mono/utils @vargaz @lewurm 
/mono/utils/atomic* @lewurm @luhenry
/mono/utils/mono-hwcap* @lewurm @luhenry
/mono/utils/mono-mem* @lewurm @luhenry
/mono/utils/mono-threads* @luhenry @vargaz
/mono/utils/*-win* @lateralusX @luhenry

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp @luhenry
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo

/packaging @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry @lewurm
/samples/profiler @alexrp @luhenry
/samples/size @alexrp @luhenry

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr

/sdks @marek-safar @luhenry @vargaz
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @luhenry @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/monograph @vargaz @vargaz
/tools/nuget-hash-extractor @marek-safar @radical
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz
