Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc

Consider class constraint and add more elucidating comment
  mono/metadata/class.c
Owners: @vargaz, @lambdageek, @thaystg

[mini] Runtime check if boxing is needed for DIM constrained calls (#15730)
  mono/mini/method-to-ir.c
  mono/tests/Makefile.am
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT, @marek-safar

Add MonoError parameter to icall
  mono/metadata/threads.c
Owners: @lateralusX, @lambdageek

[mini] Runtime check if boxing is needed for DIM constrained calls (#15729)
  mono/mini/method-to-ir.c
  mono/tests/Makefile.am
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT, @marek-safar

[2019-06] Print two bytes at a time in mono_pe_file_map conversion error (#15726)
  mono/utils/mono-proclib.c
Owners: @vargaz, @lewurm, @lambdageek

Fix for potential crash
  mono/metadata/class.c
Owners: @vargaz, @lambdageek, @thaystg

Add test
  mcs/class/corlib/Test/System/TypeTest.cs
Owners: @steveisok, @akoeplinger

Update CoreFX.issues.rsp
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

Return HardLimitBytes from GCMemoryInfo.TotalAvailableMemoryBytes (#25437)
  netcore/System.Private.CoreLib/shared/System/GCMemoryInfo.cs
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

[netcore] Pass ALC in second loader request in load_reference_by_aname_default_asmctx
  mono/metadata/assembly.c
Owners: @vargaz, @lambdageek, @thaystg

Update CoreFX.issues.rsp
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

[loader] Pass ALC to mono_domain_loaded_internal, and then to domain search hook (#15743)
  mono/dis/main.c
  mono/metadata/appdomain.c
  mono/metadata/assembly-internals.h
  mono/metadata/assembly.c
  mono/metadata/assembly.h
  mono/metadata/domain-internals.h
  mono/metadata/metadata-internals.h
  mono/metadata/reflection.c
  mono/mini/debugger-agent.c
  tools/pedump/pedump.c
Owners: @lambdageek, @vargaz, @thaystg, @DavidKarlas, @lewurm

Wrap the javascript handle in a SafeHandleZeroOrMinusOneIsInvalid implementation.
  sdks/wasm/framework/src/WebAssembly.Bindings/AnyRef.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/ArrayBuffer.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/CoreObject.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/DataView.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Float32Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Float64Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Function.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Int16Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Int32Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Int8Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/SharedArrayBuffer.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/TypedArray.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Uint16Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Uint32Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Uint8Array.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Uint8ClampedArray.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Host/HostObjectBase.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/JSObject.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Runtime.cs
Owners: @vargaz, @kjpou1, @kg, @lewing

Add support for marshalling the `AnyRef` SafeHandle.
  sdks/wasm/binding_support.js
  sdks/wasm/driver.c
Owners: @vargaz, @kjpou1, @kg, @lewing

[wasm] fix libclang path
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing

use int div
  tools/offsets-tool-py/offsets-tool.py
Owners: @lambdageek, @vargaz

change shebang to python3
  tools/offsets-tool-py/offsets-tool.py
Owners: @lambdageek, @vargaz

fixes around libclang-path
  sdks/builds/ios.mk
  sdks/builds/wasm.mk
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @rolfbjarne, @kjpou1, @lewing, @lambdageek

[glib] Use clock_nanosleep if available (#15443)
  mono/eglib/gdate-unix.c
Owners: @vargaz, @lambdageek

[netcore] Make System.Linq.Expressions.Tests.BindTests.GlobalField Pass
  netcore/CoreFX.issues.rsp
  netcore/System.Private.CoreLib/src/System.Reflection/RuntimeFieldInfo.cs
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

add null-check
  netcore/System.Private.CoreLib/src/System.Reflection/RuntimeFieldInfo.cs
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

Align mcs's tuple deconstruction behavior with csc
  mcs/mcs/tuples.cs
  mcs/tests/test-tuple-11.cs
  mcs/tests/ver-il-net_4_x.xml
Owners: @marek-safar, @lewurm

[sdks] Add third party notices and licenses to sdks archives (#15741)
  sdks/builds/android.mk
  sdks/builds/ios.mk
  sdks/builds/mac.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne, @marek-safar, @lewurm, @lambdageek

Include more license files
  sdks/builds/android.mk
  sdks/builds/ios.mk
  sdks/builds/mac.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne, @marek-safar, @lewurm, @lambdageek

[sdks] Add third party notices to sdks archives
  sdks/builds/android.mk
  sdks/builds/ios.mk
  sdks/builds/mac.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne, @marek-safar, @lewurm, @lambdageek

[2019-06] [sdks] Add third party notices to sdks archives (#15755)
  sdks/builds/android.mk
  sdks/builds/ios.mk
  sdks/builds/mac.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne, @marek-safar, @lewurm, @lambdageek

[sdks] Add linker sources to Android linux archive
  scripts/ci/pipeline/sdks-archive.groovy
  sdks/builds/android.mk
Owners: @akoeplinger, @directhex, @alexischr, @jonpryor

[sdks] Add linker sources to Android linux archive
  scripts/ci/pipeline/sdks-archive.groovy
  sdks/builds/android.mk
Owners: @akoeplinger, @directhex, @alexischr, @jonpryor

Add `Signing.props` file to `common` directory to be referenced from a common place
  sdks/wasm/common/Signing.props
  sdks/wasm/framework/src/Directory.Build.props
  sdks/wasm/framework/src/WebAssembly.Bindings/WebAssembly.Bindings.csproj
  sdks/wasm/framework/src/WebAssembly.Net.Http/WebAssembly.Net.Http.csproj
  sdks/wasm/framework/src/WebAssembly.Net.WebSockets/WebAssembly.Net.WebSockets.csproj
  sdks/wasm/sdk/Directory.Build.props
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Framework/Mono.WebAssembly.Framework.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/Mono.WebAssembly.Sdk.csproj
  sdks/wasm/sdk/WebAssembly.Bindings.Framework/WebAssembly.Bindings.csproj
  sdks/wasm/sdk/WebAssembly.Net.WebSockets/WebAssembly.Net.WebSockets.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

[sdks] Add z option to tar
  sdks/android/Makefile
Owners: @alexischr, @jonpryor

[netcore] Pass ALC in second loader request in load_reference_by_aname_default_asmctx (#15752)
  mono/metadata/assembly.c
Owners: @vargaz, @lambdageek, @thaystg

[ios] Switch to python offset tool (#15744)
  mono/utils/mono-context.h
  sdks/builds/ios.mk
  sdks/builds/runtime.mk
  sdks/builds/wasm.mk
  tools/offsets-tool-py/Makefile
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @lewurm, @lambdageek, @rolfbjarne, @marek-safar, @kjpou1, @lewing

[ci] Add python3-pip package to wasm sdks build
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[ios] Switch to python offset tool (#15744)
  mono/utils/mono-context.h
  sdks/builds/ios.mk
  sdks/builds/runtime.mk
  tools/offsets-tool-py/Makefile
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @lewurm, @lambdageek, @rolfbjarne, @marek-safar

[ci] Add python3-pip package to wasm sdks build
  scripts/ci/pipeline/sdks-archive.groovy
Owners: @akoeplinger, @directhex

[netcore] Fix CI failures (#15745)
  netcore/CoreFX.issues.rsp
  netcore/Makefile
  scripts/ci/pipeline-netcore-runtime.yml
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok, @directhex

Fix packaging of the SDK when the runtime for threads does not exist
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

[ci] Don't require master node for reportGitHubStatus method
  scripts/ci/pipeline/utils.groovy
Owners: @akoeplinger, @directhex

[ci] Don't require master node for reportGitHubStatus method
  scripts/ci/pipeline/utils.groovy
Owners: @akoeplinger, @directhex

Update dependencies from https://github.com/dotnet/arcade build 20190718.7
  eng/Version.Details.xml
  eng/common/SigningValidation.proj
  eng/common/init-tools-native.sh
  eng/common/performance/perfhelixpublish.proj
  eng/common/performance/performance-setup.ps1
  eng/common/performance/performance-setup.sh
  eng/common/pipeline-logging-functions.ps1
  eng/common/pipeline-logging-functions.sh
  eng/common/post-build/trigger-subscriptions.ps1
  eng/common/templates/job/performance.yml
  eng/common/templates/post-build/channels/internal-servicing.yml
  eng/common/templates/post-build/channels/public-dev-release.yml
  eng/common/templates/post-build/channels/public-release.yml
  eng/common/templates/post-build/channels/public-validation-release.yml
  eng/common/templates/post-build/common-variables.yml
  eng/common/templates/steps/perf-send-to-helix.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
Owners: @marek-safar
