Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @jonpryor, @jaykrell, @brzvlad, @lateralusX, @DavidKarlas, @, @jay, @directhex, @rolfbjarne, @kjpou1, @tritao

Add meaningful resource strings for System.Web.Services
  mcs/class/System.Web.Services/ReferenceSources/Res.Helpers.cs
  mcs/class/System.Web.Services/ReferenceSources/Res.cs
  mcs/class/System.Web.Services/System.Web.Services.dll.sources
  mcs/tools/resx2sr/resx2sr.cs
Owners: @marek-safar, @akoeplinger

[bcl] Update BCL Linked Size
  mcs/tools/linker/monodroid-linked-size.csv
  mcs/tools/linker/monotouch-linked-size.csv
  mcs/tools/linker/net_4_x-linked-size.csv
  mcs/tools/linker/wasm-linked-size.csv
Owners: @marek-safar, @akoeplinger

[Process] Allow ProcessStartInfo.EnvironmentVariables to be empty
  mcs/class/System/System.Diagnostics/Process.cs
  mcs/class/System/Test/System.Diagnostics/ProcessTest.cs
Owners: @marek-safar, @akoeplinger

[Process] Remove StringBuilder allocation in StartWithCreateProcess
  mcs/class/System/System.Diagnostics/Process.cs
Owners: @marek-safar, @akoeplinger

[bcl] Update BCL Linked Size
  mcs/tools/linker/monodroid-linked-size.csv
  mcs/tools/linker/monotouch-linked-size.csv
  mcs/tools/linker/net_4_x-linked-size.csv
  mcs/tools/linker/wasm-linked-size.csv
Owners: @marek-safar, @akoeplinger

Updating GenAPI binaries
  mcs/Makefile
Owners: @marek-safar, @luhenry

Clean up leaks in the WasmHttpMessageHandler. (#11616)
  sdks/wasm/WasmHttpMessageHandler.cs
Owners: @vargaz, @kjpou1, @kg

Make WasmHttpMessageHandler the default handler for WebAssembly
  mcs/class/System.Net.Http/System.Net.Http/HttpClient.wasm.cs
  sdks/wasm/WasmHttpMessageHandler.cs
Owners: @marek-safar, @akoeplinger, @vargaz, @kjpou1, @kg

Clean up spacing
  mcs/class/System.Net.Http/System.Net.Http/HttpClient.wasm.cs
Owners: @marek-safar, @akoeplinger

Updating GenAPI binaries (#11629)
  mcs/Makefile
Owners: @marek-safar, @luhenry

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @luhenry @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/Mono @baulig
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig
/mcs/class/Mono.Btls.Interface @baulig
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz
/mcs/class/Mono.Options @jonpryor
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig
/mcs/class/System/Mono @baulig
/mcs/class/System/Mono.AppleTls @baulig
/mcs/class/System/Mono.Btls @baulig
/mcs/class/System/Mono.Net.Security @baulig
/mcs/class/System/Mono.Security.Interface @baulig
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig
/mcs/class/System.Data* @egorbo

/mcs/errors @marek-safar
/mcs/ilasm @marek-safar
/mcs/jay @marek-safar
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar
/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg

/mono @luhenry

/mono/arch/riscv @alexrp @lewurm

/mono/btls @baulig
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @luhenry

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek
/mono/metadata/*profiler* @alexrp
/mono/metadata/handle* @jaykrell @lambdageek
/mono/metadata/monitor* @brzvlad
/mono/metadata/sgen* @brzvlad
/mono/metadata/thread* @luhenry @lateralusX
/mono/metadata/w32* @luhenry @lateralusX @jaykrell
/mono/metadata/*-win* @lateralusX @luhenry @luhenry

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp
/mono/mini/debugger-agent.c @DavidKarlas

/mono/native @baulig

/mono/profiler @alexrp @luhenry

/mono/sgen @BrzVlad @luhenry

/mono/utils @vargaz @
/mono/utils/atomic* @lewurm
/mono/utils/mono-hwcap* @lewurm
/mono/utils/mono-mem* @lewurm
/mono/utils/mono-threads* @luhenry @vargaz
/mono/utils/*-win* @lateralusX @jay

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger @kg

/packaging @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry
/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr
/scripts/ci/run-test-profiler-stress-tests.sh @alexrp

/sdks @marek-safar @luhenry @vargaz
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1
/sdks/wasm @vargaz @kjpou1 @kg
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @luhenry
/tools/checker @tritao
/tools/locale-builder @marek-safar
/tools/monograph @vargaz
/tools/nuget-hash-extractor @marek-safar
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek
/tools/sgen @brzvlad
