Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @jonpryor, @jaykrell, @brzvlad, @lateralusX, @DavidKarlas, @, @jay, @directhex, @rolfbjarne, @kjpou1, @tritao

Fix wasm mono showing print dialog twice on error
  sdks/wasm/driver.c
Owners: @vargaz, @kjpou1, @kg

[interp] Add a null check to MINT_LDELEMA.
  mono/mini/arrays.cs
  mono/mini/interp/interp.c
Owners: @vargaz, @lewurm, @BrzVlad

[llvm] bump for armhf callingconv fix
  llvm/SUBMODULES.json
Owners: @vargaz, @luhenry

[llvm] bump for armhf callingconv fix
  llvm/SUBMODULES.json
Owners: @vargaz, @luhenry

[llvm] bump for armhf callingconv fix
  llvm/SUBMODULES.json
Owners: @vargaz, @luhenry

[wasm] Avoid referencing aot-dummy.dll in non-aot mode. (#11600)
  sdks/wasm/packager.cs
Owners: @vargaz, @kjpou1, @kg

[runtime] Add __attribute__(format) to glib string formatting functions, fix -Wformat warnings/errors exposed by the change.
  mono/eglib/gfile.c
  mono/eglib/glib.h
  mono/metadata/exception.c
  mono/metadata/marshal-ilgen.c
  mono/metadata/metadata-verify.c
  mono/metadata/threads.c
  mono/metadata/verify.c
  mono/mini/aot-compiler.c
  mono/mini/arch-stubs.c
  mono/mini/debugger-engine.c
  mono/mini/debugger-state-machine.c
  mono/mini/exceptions-wasm.c
  mono/mini/interp/interp.c
  mono/mini/interp/mintops.c
  mono/utils/mono-log-flight-recorder.c
Owners: @vargaz, @luhenry, @lambdageek, @lateralusX, @lewurm, @BrzVlad, @

unbreak the interp build.
  mono/mini/arch-stubs.c
  mono/mini/exceptions-wasm.c
Owners: @vargaz, @lewurm

[wasm] Move bundled linker to different location
  sdks/wasm/Makefile
  sdks/wasm/packager.cs
Owners: @vargaz, @kjpou1, @kg

unbreak the interp build.
  mono/mini/arch-stubs.c
  mono/mini/exceptions-wasm.c
Owners: @vargaz, @lewurm

Use NotImplemented.ByDesign
  mcs/class/corlib/System.Reflection/Module.cs
Owners: @vargaz, @lambdageek

Remove redundant class modificators
  mcs/class/corlib/System.Reflection/Module.cs
Owners: @vargaz, @lambdageek

Make the output for TestModule.dll assembly profile specific
  mcs/class/corlib/Makefile
Owners: @marek-safar, @akoeplinger

replaced class retrieval method as per PR comments
  mono/metadata/unity-memory-info.c
Owners: @vargaz, @lambdageek

[csproj] Update project files
  mcs/class/System/System.csproj
  mcs/class/corlib/corlib.csproj
Owners: @marek-safar, @akoeplinger

[corlib] Move Stack and Queue to mscorlib as we want to used them by (#11511)
  mcs/build/common/Consts.cs.in
  mcs/class/System/Assembly/AssemblyInfo.cs
  mcs/class/System/System.csproj
  mcs/class/System/common.sources
  mcs/class/corlib/corlib.csproj
  mcs/class/corlib/corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[sdks] Document one more build setting
  scripts/ci/run-jenkins.sh
  sdks/Make.config.sample
Owners: @akoeplinger, @alexischr, @marek-safar, @luhenry, @vargaz

Update path to include TestModule.dll assembly
  mcs/class/corlib/Makefile
Owners: @marek-safar, @akoeplinger

[corlib] Removes dead code from EventInfo (#11502)
  mcs/class/corlib/System.Reflection/EventInfo.cs
Owners: @vargaz, @lambdageek

Clean up leaks in the WasmHttpMessageHandler.
  sdks/wasm/WasmHttpMessageHandler.cs
Owners: @vargaz, @kjpou1, @kg

Fix wasm mono showing print dialog twice on error (#11602)
  sdks/wasm/driver.c
Owners: @vargaz, @kjpou1, @kg

[wasm] Add test suite.
  sdks/wasm/DebuggerTestSuite/DebuggerTestSuite.csproj
  sdks/wasm/DebuggerTestSuite/Support.cs
  sdks/wasm/DebuggerTestSuite/Tests.cs
  sdks/wasm/Makefile
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/DebugStore.cs
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/InspectorClient.cs
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/Mono.WebAssembly.DebuggerProxy.csproj
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/MonoProxy.cs
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/WsClient.cs
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/WsProxy.cs
  sdks/wasm/ProxyDriver/Program.cs
  sdks/wasm/ProxyDriver/ProxyDriver.csproj
  sdks/wasm/ProxyDriver/Startup.cs
  sdks/wasm/ProxyDriver/TestHarnessStartup.cs
  sdks/wasm/WasmDebugger.sln
  sdks/wasm/debugger-driver.html
  sdks/wasm/debugger-test-driver.js
  sdks/wasm/debugger-test.cs
  sdks/wasm/debugger-test2.cs
  sdks/wasm/dependency.cs
  sdks/wasm/library_mono.js
  sdks/wasm/packager.cs
  sdks/wasm/runtime-tests.js
  sdks/wasm/runtime.js
Owners: @vargaz, @kjpou1, @kg

[wasm] Change default CopyType mode to IfNewer. Old default was to fail if existing.
  sdks/wasm/packager.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] Pass --debug to packager.exe invocations and add test-debugger target.
  sdks/wasm/Makefile
Owners: @vargaz, @kjpou1, @kg

[wasm] Add test for local introspection.
  sdks/wasm/DebuggerTestSuite/Tests.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] Add tests for setting breakpoints.
  sdks/wasm/DebuggerTestSuite/Tests.cs
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/MonoProxy.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] Add stepping tests.
  sdks/wasm/DebuggerTestSuite/Tests.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] add linux probing.
  sdks/wasm/DebuggerTestSuite/Support.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] Add breakpoint hit test.
  sdks/wasm/DebuggerTestSuite/Support.cs
  sdks/wasm/DebuggerTestSuite/Tests.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] Add /Debug option to ProxyDriver to starta chrome debugging session.
  sdks/wasm/ProxyDriver/Program.cs
  sdks/wasm/ProxyDriver/Startup.cs
  sdks/wasm/ProxyDriver/TestHarnessStartup.cs
Owners: @vargaz, @kjpou1, @kg

[wasm] Update CI to run debugger tests.
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger, @alexischr

Revert unrelated changes.
  mono/mini/arch-stubs.c
  mono/mini/exceptions-wasm.c
  mono/mini/interp/interp.c
Owners: @vargaz, @lewurm, @BrzVlad

[WinForms] Matching Mono PropertyGrid behaviour with .Net one
  mcs/class/System.Windows.Forms/System.Windows.Forms/GridEntry.cs
  mcs/class/System.Windows.Forms/System.Windows.Forms_test.dll.sources
  mcs/class/System.Windows.Forms/Test/System.Windows.Forms/PropertyGrid_GridEntryTest.cs
Owners: @marek-safar, @akoeplinger

Revert more unrelated changes.
  mono/mini/aot-compiler.c
  mono/mini/arch-stubs.c
Owners: @vargaz, @lewurm

[llvm] bump for armhf callingconv fix (#11609)
  llvm/SUBMODULES.json
Owners: @vargaz, @luhenry

[llvm] bump for armhf callingconv fix (#11608)
  llvm/SUBMODULES.json
Owners: @vargaz, @luhenry

[interp] Add a null check to MINT_LDELEMA. (#11606)
  mono/mini/arrays.cs
  mono/mini/interp/interp.c
Owners: @vargaz, @lewurm, @BrzVlad

[crashing] attempt mono_threads_summarize () after forking
  mono/mini/mini-posix.c
Owners: @vargaz, @lewurm

[runtime] Add __attribute__(format) to glib string formatting functions, fix -Wformat warnings/errors exposed by the change. (#11611)
  mono/eglib/gfile.c
  mono/eglib/glib.h
  mono/metadata/exception.c
  mono/metadata/marshal-ilgen.c
  mono/metadata/metadata-verify.c
  mono/metadata/threads.c
  mono/metadata/verify.c
  mono/mini/aot-compiler.c
  mono/mini/debugger-engine.c
  mono/mini/debugger-state-machine.c
  mono/mini/interp/mintops.c
  mono/utils/mono-log-flight-recorder.c
Owners: @vargaz, @luhenry, @lambdageek, @lateralusX, @lewurm, @BrzVlad, @

Add common "test" target for precompiling test assemblies
  configure.ac
  libgc/Makefile.am
  mcs/Makefile
  mcs/errors/Makefile
  mcs/mcs/README
  mcs/tests/Makefile
  mono/benchmark/Makefile.am
  mono/mini/Makefile.am.in
  mono/profiler/Makefile.am
  mono/tests/Makefile.am
  mono/tests/assembly-load-reference/Makefile.am
  mono/tests/gc-descriptors/Makefile.am
  mono/tests/testing_gac/Makefile.am
  mono/tests/tests-config.in
  mono/unit-tests/Makefile.am
  po/mcs/Makefile.in.in
  runtime/Makefile.am
  scripts/ci/run-jenkins.sh
  scripts/ci/run-test-acceptance-tests.sh
  scripts/ci/run-test-default.sh
  scripts/ci/run-test-interpreter.sh
  scripts/ci/run-test-mac-sdk.sh
  scripts/ci/run-test-stress-tests.sh
  scripts/ci/run-test-testing_aot_full.sh
  scripts/ci/run-test-testing_aot_full_interp.sh
  scripts/ci/run-test-testing_aot_hybrid.sh
  scripts/ci/run-test-winaot.sh
Owners: @luhenry, @marek-safar, @BrzVlad, @vargaz, @lewurm, @alexrp, @akoeplinger, @alexischr

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @luhenry @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/Mono @baulig
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig
/mcs/class/Mono.Btls.Interface @baulig
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz
/mcs/class/Mono.Options @jonpryor
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig
/mcs/class/System/Mono @baulig
/mcs/class/System/Mono.AppleTls @baulig
/mcs/class/System/Mono.Btls @baulig
/mcs/class/System/Mono.Net.Security @baulig
/mcs/class/System/Mono.Security.Interface @baulig
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig
/mcs/class/System.Data* @egorbo

/mcs/errors @marek-safar
/mcs/ilasm @marek-safar
/mcs/jay @marek-safar
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar
/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg

/mono @luhenry

/mono/arch/riscv @alexrp @lewurm

/mono/btls @baulig
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @luhenry

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek
/mono/metadata/*profiler* @alexrp
/mono/metadata/handle* @jaykrell @lambdageek
/mono/metadata/monitor* @brzvlad
/mono/metadata/sgen* @brzvlad
/mono/metadata/thread* @luhenry @lateralusX
/mono/metadata/w32* @luhenry @lateralusX @jaykrell
/mono/metadata/*-win* @lateralusX @luhenry @luhenry

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp
/mono/mini/debugger-agent.c @DavidKarlas

/mono/native @baulig

/mono/profiler @alexrp @luhenry

/mono/sgen @BrzVlad @luhenry

/mono/utils @vargaz @
/mono/utils/atomic* @lewurm
/mono/utils/mono-hwcap* @lewurm
/mono/utils/mono-mem* @lewurm
/mono/utils/mono-threads* @luhenry @vargaz
/mono/utils/*-win* @lateralusX @jay

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger @kg

/packaging @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry
/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr
/scripts/ci/run-test-profiler-stress-tests.sh @alexrp

/sdks @marek-safar @luhenry @vargaz
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1
/sdks/wasm @vargaz @kjpou1 @kg
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @luhenry
/tools/checker @tritao
/tools/locale-builder @marek-safar
/tools/monograph @vargaz
/tools/nuget-hash-extractor @marek-safar
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek
/tools/sgen @brzvlad
