Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @marek-safar, @akoeplinger, @kg, @alexrp, @directhex, @lewurm, @vargaz, @alexischr, @baulig, @egorbo, @steveisok, @SamMonoRT, @radical, @lewing, @BrzVlad, @naricc, @miguel, @lambdageek, @thaystg, @jonpryor, @rolf, @brzvlad, @lateralusX, @DavidKarlas, @rolfbjarne, @kjpou1

Print two bytes at a time in mono_pe_file_map conversion error (#15523)
  mono/utils/mono-proclib.c
Owners: @vargaz, @lewurm, @lambdageek

Add com.apple.security.cs.allow-unsigned-executable-memory exception to hardened runtime entitlements
  mono/mini/mac-entitlements.plist
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT

Add com.apple.security.cs.allow-unsigned-executable-memory exception to hardened runtime entitlements (#15725)
  mono/mini/mac-entitlements.plist
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT

Print two bytes at a time
  mono/utils/mono-proclib.c
Owners: @vargaz, @lewurm, @lambdageek

Iterate over gunichar2
  mono/utils/mono-proclib.c
Owners: @vargaz, @lewurm, @lambdageek

configure/makefile To support updating zlib to 1.2.11. (#15697)
  configure.ac
  mono/metadata/Makefile.am
  support/Makefile.am
Owners: @marek-safar, @vargaz, @lambdageek, @thaystg

Fix leaks in mono_lookup_internal_call_full_with_flags, for lack of destructors. (#15659)
  mono/metadata/icall.c
Owners: @vargaz, @lambdageek, @thaystg

Bump msbuild to msbuild:mono-2019-06 to stop disabling compiler server
  packaging/MacSDK/msbuild.py
Owners: @radical, @akoeplinger

[mini] Runtime check if boxing is needed for DIM constrained calls
  mono/mini/method-to-ir.c
  mono/tests/Makefile.am
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT, @marek-safar

[loader] Add MonoAssemblyLoadContext; stop sharing MonoImages on netcore (#15527)
  mono/metadata/Makefile.am
  mono/metadata/appdomain.c
  mono/metadata/assembly-internals.h
  mono/metadata/assembly-load-context.c
  mono/metadata/assembly.c
  mono/metadata/coree.c
  mono/metadata/coree.h
  mono/metadata/debug-mono-ppdb.c
  mono/metadata/domain-internals.h
  mono/metadata/domain.c
  mono/metadata/icall-def-netcore.h
  mono/metadata/icall.c
  mono/metadata/image-internals.h
  mono/metadata/image.c
  mono/metadata/image.h
  mono/metadata/loaded-images-global.c
  mono/metadata/loaded-images-internals.h
  mono/metadata/loaded-images-netcore.c
  mono/metadata/loaded-images.c
  mono/metadata/loader-internals.h
  mono/metadata/metadata-internals.h
  mono/metadata/mono-security.c
  mono/metadata/w32socket.c
  mono/mini/driver.c
  mono/mini/main-core.c
  mono/native/mono-native-platform.c
  mono/native/pal-icalls.c
  mono/tests/metadata-verifier/gen-md-tests.c
  mono/utils/checked-build.c
  msvc/libmonoruntime-common.targets
  msvc/libmonoruntime-common.targets.filters
  netcore/System.Private.CoreLib/src/System.Reflection/Assembly.cs
  netcore/System.Private.CoreLib/src/System.Runtime.Loader/AssemblyLoadContext.cs
  tools/pedump/pedump.c
Owners: @vargaz, @lambdageek, @thaystg, @lateralusX, @lewurm, @SamMonoRT, @baulig, @egorbo, @alexischr, @marek-safar, @kg, @akoeplinger, @steveisok

[mini] Runtime check if boxing is needed for DIM constrained calls
  mono/mini/method-to-ir.c
  mono/tests/Makefile.am
Owners: @vargaz, @lewurm, @lambdageek, @SamMonoRT, @marek-safar

WebAssembly.Core.Array.Pop should return null if the WebAssembly.Core.Array is empty instead of error.
  sdks/wasm/framework/src/WebAssembly.Bindings/Core/Array.cs
  sdks/wasm/tests/browser/src/BindingsTestSuite/BindingsTestSuite.cs
  sdks/wasm/tests/browser/src/BrowserTestSuite/core-bindings-spec.js
Owners: @vargaz, @kjpou1, @kg, @lewing

[interp] Split code for obj / vt newobj instruction
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
Owners: @lewurm, @BrzVlad

[interp] Enable inlining of object constructors
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
Owners: @lewurm, @BrzVlad

Update README.md
  README.md
Owners: @marek-safar

[sdks] Add third party notices to sdks archives
  sdks/builds/android.mk
  sdks/builds/ios.mk
  sdks/builds/mac.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne, @marek-safar, @lewurm, @lambdageek

Include more license files
  sdks/builds/android.mk
  sdks/builds/ios.mk
  sdks/builds/mac.mk
Owners: @alexischr, @jonpryor, @vargaz, @rolfbjarne, @marek-safar, @lewurm, @lambdageek

[debugger] Comment on suspicious loader lock
  mono/mini/debugger-agent.c
Owners: @vargaz, @thaystg, @DavidKarlas, @lambdageek

[loader] Add mono_install_assembly_search_hook_v2
  mono/dis/main.c
  mono/metadata/appdomain.c
  mono/metadata/assembly-internals.h
  mono/metadata/assembly.c
  mono/metadata/assembly.h
  mono/metadata/domain-internals.h
  tools/pedump/pedump.c
Owners: @lambdageek, @vargaz, @thaystg, @lewurm

Add a temporary mono_domain_ambient_alc function
  mono/metadata/domain-internals.h
Owners: @vargaz, @lambdageek, @thaystg

[runtime] Mark mono_assembly_loaded_full external only.
  mono/metadata/assembly-internals.h
  mono/metadata/assembly.c
  mono/metadata/assembly.h
  mono/metadata/reflection.c
Owners: @vargaz, @lambdageek, @thaystg

[domain] Comments and mono_assembly_get_alc ()
  mono/metadata/domain-internals.h
  mono/metadata/metadata-internals.h
Owners: @vargaz, @lambdageek, @thaystg

[ios] switch to python offset tool
  mono/utils/mono-context.h
  sdks/builds/ios.mk
  sdks/builds/runtime.mk
  tools/offsets-tool-py/Makefile
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @lewurm, @lambdageek, @rolfbjarne, @marek-safar

fix sysroot path for cross32/crosswatch
  sdks/builds/ios.mk
Owners: @vargaz, @rolfbjarne

[netcore] Revise items in CoreFX.issues.rsp (#15664)
  netcore/CoreFX.issues.rsp
  netcore/CoreFX.issues_windows.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

[netcore] Clean up rsp-file (#15700)
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

ignore some tests
  netcore/CoreFX.issues.rsp
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

pass sysroot path from makefile
  sdks/builds/ios.mk
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @rolfbjarne, @lambdageek

fix mtriple typ for cross32
  tools/offsets-tool-py/offsets-tool.py
Owners: @lambdageek, @vargaz

Mensagem de commit
  mcs/class/System.ServiceModel/System.ServiceModel.Channels.Http/HttpReplyChannel.cs
Owners: @steveisok, @akoeplinger

Align mcs's tuple deconstruction behavior with csc
  mcs/mcs/tuples.cs
  mcs/tests/test-tuple-11.cs
  mcs/tests/ver-il-net_4_x.xml
Owners: @marek-safar, @lewurm

add more
  netcore/CoreFX.issues.rsp
  scripts/ci/pipeline-netcore-runtime.yml
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok, @directhex

[interp] Use correctly-sized writes and reads in Unsafe.AddByteOffset and Unsafe.ByteOffset (#15677)
  mono/mini/interp/interp.c
Owners: @lewurm, @BrzVlad

[netcore] Implement Thread.CurrentOSThreadId
  mono/metadata/icall-def-netcore.h
  mono/metadata/threads.c
  mono/utils/mono-threads-aix.c
  mono/utils/mono-threads-android.c
  mono/utils/mono-threads-freebsd.c
  mono/utils/mono-threads-haiku.c
  mono/utils/mono-threads-linux.c
  mono/utils/mono-threads-mach.c
  mono/utils/mono-threads-netbsd.c
  mono/utils/mono-threads-openbsd.c
  mono/utils/mono-threads-wasm.c
  mono/utils/mono-threads-windows.c
  mono/utils/mono-threads.h
  netcore/System.Private.CoreLib/src/System.Threading/Thread.cs
Owners: @vargaz, @lambdageek, @thaystg, @lateralusX, @marek-safar, @akoeplinger, @egorbo, @steveisok

remove System.Utf8String.Experimental.Tests
  netcore/Makefile
Owners: @marek-safar, @akoeplinger, @egorbo, @vargaz, @steveisok

Add comment explaining differences with mono_native_thread_id_get
  mono/utils/mono-threads.h
Owners: @lambdageek, @vargaz

Add haiku implementation
  mono/utils/mono-threads-haiku.c
Owners: @lambdageek, @vargaz

Attempt to fix linux builds
  mono/utils/mono-threads-android.c
  mono/utils/mono-threads-linux.c
Owners: @lambdageek, @vargaz

Make more generic, fix typo
  mono/metadata/class.c
Owners: @vargaz, @lambdageek, @thaystg

[wasm] make python offset tool work on Linux
  sdks/builds/ios.mk
  sdks/builds/wasm.mk
  tools/offsets-tool-py/offsets-tool.py
Owners: @vargaz, @rolfbjarne, @kjpou1, @lewing, @lambdageek

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @directhex @akoeplinger
/data/gdb @lewurm @vargaz
/data/lldb @lewurm @vargaz

/docs @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @steveisok
/external/corert @akoeplinger @marek-safar @egorbo @steveisok
/external/linker @marek-safar
/external/llvm @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz @naricc

/llvm @vargaz @SamMonoRT

/man @marek-safar @miguel
/man/*prof* @alexrp

/mcs @marek-safar @akoeplinger @egorbo

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/Mono.Btls.Interface @baulig @steveisok
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @steveisok
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig @marek-safar
/mcs/class/System/Mono.Net.Security @baulig @steveisok
/mcs/class/System/Mono.Security.Interface @baulig @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig @steveisok
/mcs/class/System.Data* @egorbo @steveisok

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @directhex @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT @lewurm

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz @naricc
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek

/mono/mini @vargaz @lewurm @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @lewurm @vargaz
/mono/mini/*exceptions* @lewurm @vargaz
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas @lambdageek

/mono/native @baulig @egorbo @alexischr @marek-safar

/mono/profiler @alexrp @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lewurm @lambdageek
/mono/utils/atomic* @lewurm @vargaz
/mono/utils/mono-hwcap* @lewurm @vargaz
/mono/utils/mono-mem* @lewurm @vargaz
/mono/utils/mono-merp* @alexischr @lambdageek
/mono/utils/mono-state* @alexischr @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo @vargaz @steveisok

/packaging @alexischr @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek @lewurm
/samples/profiler @alexrp @lambdageek
/samples/size @alexrp @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/sdks @marek-safar @lewurm @vargaz @lambdageek
/sdks/builds/android* @alexischr @jonpryor
/sdks/builds/mxe* @alexischr @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @alexischr @jonpryor

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz @naricc
