Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @bauligg, @thaystg, @jonpryor, @rolf, @alexanderkyte, @brzvlad, @lateralusX, @DavidKarlas, @directhex, @rolfbjarne, @kjpou1, @lewing

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz @luhenry
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @luhenry @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @marek-safar
/mcs/class/Mono.Btls.Interface @bauligg @marek-safar
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @alexrp @luhenry
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @marek-safar
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig  @marek-safar
/mcs/class/System/Mono.Net.Security @baulig  @marek-safar
/mcs/class/System/Mono.Security.Interface @baulig  @marek-safar
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig  @marek-safar
/mcs/class/System.Data* @egorbo  @marek-safar

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @alexanderkyte @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @luhenry @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @luhenry

/mono/benchmark @alexanderkyte @luhenry

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek @luhenry
/mono/metadata/*profiler* @alexrp @luhenry
/mono/metadata/handle* @luhenry @lambdageek
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @luhenry @lateralusX
/mono/metadata/w32* @luhenry @lateralusX
/mono/metadata/*-win* @lateralusX @luhenry @luhenry

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm @luhenry
/mono/mini/*exceptions* @lewurm @luhenry
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @luhenry
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas

/mono/native @baulig @luhenry @marek-safar

/mono/profiler @alexrp @luhenry

/mono/sgen @BrzVlad @luhenry

/mono/utils @vargaz @lewurm 
/mono/utils/atomic* @lewurm @luhenry
/mono/utils/mono-hwcap* @lewurm @luhenry
/mono/utils/mono-mem* @lewurm @luhenry
/mono/utils/mono-threads* @luhenry @vargaz
/mono/utils/*-win* @lateralusX @luhenry

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp @luhenry
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo

/packaging @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry @lewurm
/samples/profiler @alexrp @luhenry
/samples/size @alexrp @luhenry

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr

/sdks @marek-safar @luhenry @vargaz
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @luhenry @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/monograph @vargaz @vargaz
/tools/nuget-hash-extractor @marek-safar @radical
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz

Move restoring ExecutionContext out of generic methods (#21909)
  netcore/System.Private.CoreLib/shared/System/Threading/ExecutionContext.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[swf] Add test for missing dispose of StatusBarPanels
  mcs/class/System.Windows.Forms/Test/System.Windows.Forms/StatusBarTest.cs
Owners: @marek-safar, @akoeplinger

[swf] Fix dispose of panels in StatusBar
  mcs/class/System.Windows.Forms/System.Windows.Forms/StatusBar.cs
Owners: @marek-safar, @akoeplinger

Move restoring ExecutionContext out of generic methods (#21909)
  netcore/System.Private.CoreLib/shared/System/Threading/ExecutionContext.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Rearrange sources files to work around limitations of gensources/xtest integration
  mcs/class/System.Core/System.Core_xtest.dll.sources
  mcs/class/System.Core/linux_net_4_x_System.Core_xtest.dll.sources
  mcs/class/System.Core/macos_net_4_x_System.Core_xtest.dll.sources
  mcs/class/System.Core/namedpipe_xtest.sources
  mcs/class/System.Core/win32_net_4_x_System.Core_xtest.dll.exclude.sources
  mcs/class/System.Core/win32_net_4_x_System.Core_xtest.dll.sources
Owners: @marek-safar, @akoeplinger

[csproj] Update project files
  mcs/class/System/System.csproj
  mcs/class/corlib/corlib.csproj
Owners: @marek-safar, @akoeplinger

Fix unrelated build issues
  mcs/class/System/monodroid_System.dll.sources
  mcs/class/System/unix_net_4_x_System.dll.sources
  mcs/class/corlib/System.IO/FileSystem.NotSupported.cs
  mcs/class/corlib/unix_build_corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[csproj] Update project files
  mcs/class/System/System.csproj
  mcs/class/corlib/corlib.csproj
Owners: @marek-safar, @akoeplinger

Moves EnvironmentVariableTarget enum to shared partition (#21930)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/EnvironmentVariableTarget.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Moves EnvironmentVariableTarget enum to shared partition (#21930)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/EnvironmentVariableTarget.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Move COMException to shared partition (dotnet/corert#6803)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/COMException.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Backport of #12114 (#12351)
  mcs/class/Mono.Debugger.Soft/Test/dtest-app.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
  mono/metadata/seq-points-data.h
  mono/mini/debugger-engine.c
  mono/mini/interp/transform.c
  mono/mini/method-to-ir.c
  mono/mini/mini.h
  mono/mini/seq-points.c
Owners: @vargaz, @thaystg, @lambdageek, @lewurm, @BrzVlad

[backport] Revert API change, disable test
  mcs/class/corlib/Mono/Runtime.cs
  mono/tests/Makefile.am
Owners: @marek-safar, @akoeplinger, @luhenry

[backport] Revert API change, disable test
  mcs/class/corlib/Mono/Runtime.cs
  mono/tests/Makefile.am
Owners: @marek-safar, @akoeplinger, @luhenry

Move COMException to shared partition (dotnet/corert#6803)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/COMException.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Move public interface ISymDocumentWriter to shared location (#21931)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Diagnostics/SymbolStore/ISymbolDocumentWriter.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[csproj] Update project files
  mcs/class/System.Core/System.Core.csproj
Owners: @marek-safar, @akoeplinger

[wasm] Compile the wasm runtime using optimization.
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing

[Debugger] Debugger crashes when inside a class, there is an internal struct, with a field that is an enumerator. files.myBucket.GetEnumerator().get_Current().Key Fixes #10735
  mcs/class/Mono.Debugger.Soft/Test/dtest-app.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
  mono/mini/debugger-agent.c
Owners: @vargaz, @thaystg, @DavidKarlas

Move public interface ISymDocumentWriter to shared location (#21931)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Diagnostics/SymbolStore/ISymbolDocumentWriter.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Add WithCancellation for async enumerables (dotnet/coreclr#21939)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/CompilerServices/ConfiguredAsyncEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/CompilerServices/ConfiguredCancelableAsyncEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Threading/Tasks/TaskExtensions.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[interp] Fix resuming into interp when finally throws exception (#12328)
  mono/mini/mini-exceptions.c
  mono/mini/mixed.cs
  mono/tests/Makefile.am
Owners: @lewurm, @luhenry, @vargaz, @marek-safar

[interp] Fix resuming into interp frame during EH (#12092)
  mono/mini/ee.h
  mono/mini/interp-stubs.c
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/mini-exceptions.c
  mono/tests/Makefile.am
  mono/tests/exception21.cs
Owners: @vargaz, @lewurm, @BrzVlad, @luhenry, @marek-safar

[interp] Fix resuming into interp when finally throws exception (#12328)
  mono/mini/mini-exceptions.c
  mono/mini/mixed.cs
  mono/tests/Makefile.am
Owners: @lewurm, @luhenry, @vargaz, @marek-safar

Add WithCancellation for async enumerables (dotnet/coreclr#21939)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/CompilerServices/ConfiguredAsyncEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/CompilerServices/ConfiguredCancelableAsyncEnumerable.cs
  netcore/System.Private.CoreLib/shared/System/Threading/Tasks/TaskExtensions.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[interp] Fix resuming into interp frame during EH (#12092)
  mono/mini/ee.h
  mono/mini/interp-stubs.c
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/mini-exceptions.c
  mono/tests/Makefile.am
  mono/tests/exception21.cs
Owners: @vargaz, @lewurm, @BrzVlad, @luhenry, @marek-safar

[interp] Fix resuming into interp when finally throws exception (#12328)
  mono/mini/mini-exceptions.c
  mono/mini/mixed.cs
Owners: @lewurm, @luhenry, @vargaz

[wasm] Compile the wasm runtime using optimization. (#12367)
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing
