Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @bauligg, @thaystg, @jonpryor, @rolf, @alexanderkyte, @brzvlad, @lateralusX, @DavidKarlas, @directhex, @rolfbjarne, @kjpou1, @lewing

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz @luhenry
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @luhenry @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @marek-safar
/mcs/class/Mono.Btls.Interface @bauligg @marek-safar
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @alexrp @luhenry
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @marek-safar
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig  @marek-safar
/mcs/class/System/Mono.Net.Security @baulig  @marek-safar
/mcs/class/System/Mono.Security.Interface @baulig  @marek-safar
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig  @marek-safar
/mcs/class/System.Data* @egorbo  @marek-safar

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @alexanderkyte @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @luhenry @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @luhenry

/mono/benchmark @alexanderkyte @luhenry

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek @luhenry
/mono/metadata/*profiler* @alexrp @luhenry
/mono/metadata/handle* @luhenry @lambdageek
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @luhenry @lateralusX
/mono/metadata/w32* @luhenry @lateralusX
/mono/metadata/*-win* @lateralusX @luhenry @luhenry

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm @luhenry
/mono/mini/*exceptions* @lewurm @luhenry
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @luhenry
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas

/mono/native @baulig @luhenry @marek-safar

/mono/profiler @alexrp @luhenry

/mono/sgen @BrzVlad @luhenry

/mono/utils @vargaz @lewurm 
/mono/utils/atomic* @lewurm @luhenry
/mono/utils/mono-hwcap* @lewurm @luhenry
/mono/utils/mono-mem* @lewurm @luhenry
/mono/utils/mono-threads* @luhenry @vargaz
/mono/utils/*-win* @lateralusX @luhenry

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp @luhenry
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo

/packaging @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry @lewurm
/samples/profiler @alexrp @luhenry
/samples/size @alexrp @luhenry

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr

/sdks @marek-safar @luhenry @vargaz
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @luhenry @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/monograph @vargaz @vargaz
/tools/nuget-hash-extractor @marek-safar @radical
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz

[debugger] Fix test ShouldCorrectlyStepOverOnExitFromArgsAfterStepInMethodParameter (#12114)
  mcs/class/Mono.Debugger.Soft/Test/dtest-app.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
  mono/metadata/seq-points-data.h
  mono/mini/debugger-engine.c
  mono/mini/interp/transform.c
  mono/mini/method-to-ir.c
  mono/mini/mini.h
  mono/mini/seq-points.c
Owners: @vargaz, @thaystg, @lambdageek, @lewurm, @BrzVlad

Delete files moved to shared partition
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ArrayWithOffset.cs
Owners: @marek-safar, @akoeplinger, @egorbo

More DispatchWrapper tweaks
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispatchWrapper.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Removes PNSE version of DispatchWrapper and keep only single version with ifdef
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispatchWrapper.cs
Owners: @marek-safar, @akoeplinger, @egorbo

More DispatchWrapper tweaks
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispatchWrapper.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Removes PNSE version of DispatchWrapper and keep only single version with ifdef
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispatchWrapper.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Delete files moved to shared partition
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ArrayWithOffset.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Bump jsvu
  sdks/wasm/package.json
Owners: @vargaz, @kjpou1, @kg, @lewing

Attempt to use Win32 APIs first to retreive current timezone. Registry value can be null/corrupt (case 1076679)
  mcs/class/corlib/System/TimeZoneInfo.WinRT.cs
  mcs/class/corlib/System/TimeZoneInfo.cs
Owners: @marek-safar, @akoeplinger

Enable ch-system-core tests too
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger, @alexischr

[wasm][ci] Re-enable chakra tests (#12332)
  scripts/ci/run-jenkins.sh
  sdks/wasm/package.json
Owners: @akoeplinger, @alexischr, @vargaz, @kjpou1, @kg, @lewing

[wasm][ci] Bump jsvu
  scripts/ci/run-jenkins.sh
  sdks/wasm/package.json
Owners: @akoeplinger, @alexischr, @vargaz, @kjpou1, @kg, @lewing

[wasm] Fix build when emsdk repo is dirty
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing

[Debugger] Crash test (#12304)
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
Owners: @vargaz, @thaystg

[Mono.Native] Build on Android
  configure.ac
  mono/metadata/pal-android.c
  mono/native/Makefile.am
  mono/native/mono-native-platform.h
  mono/native/pal-android.c
  mono/native/pal-android.h
  mono/native/pal_config.h
  sdks/android/Makefile
  sdks/android/app/CMakeLists.txt
  sdks/android/app/src/main/c/runtime-bootstrap.c
Owners: @luhenry, @marek-safar, @vargaz, @lambdageek, @baulig, @jonpryor

Move OperationStatus into shared source (dotnet/coreclr#21912)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Buffers/OperationStatus.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[csproj] Update project files
  mcs/class/corlib/corlib.csproj
Owners: @marek-safar, @akoeplinger

[interp] use interp_lmf wrapper for interp2native on platforms with wonky sigcontext (#12293)
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/ee.h
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
  mono/mini/mini-arm64.h
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini.h
Owners: @vargaz, @lewurm, @BrzVlad

[threads] Use LOCK_THREAD instead of CAS in mono_thread_detach_internal
  mono/metadata/object-internals.h
  mono/metadata/threads.c
Owners: @vargaz, @lambdageek, @luhenry, @lateralusX

[finalizer] Set the finalizer's MonoInternalThread:synch_cs to NULL when finished.
  mono/metadata/gc.c
Owners: @vargaz, @lambdageek

Disable the named pipe tests on win32 due to OnNativeIOCompleted issue (7500?)
  mcs/class/System.Core/win32_net_4_x_System.Core_xtest.dll.exclude.sources
Owners: @marek-safar, @akoeplinger

[corlib] Fix monodroid build to reinclude CoreFX System.IO (#12057)
  configure.ac
  mcs/class/corlib/corlib.csproj
  mcs/class/corlib/monodroid_corlib.dll.exclude.sources
  mcs/class/corlib/monodroid_corlib.dll.sources
  mcs/class/corlib/orbis_corlib.dll.exclude.sources
  mcs/class/corlib/orbis_corlib.dll.sources
  mcs/class/corlib/unreal_corlib.dll.exclude.sources
  mcs/class/corlib/unreal_corlib.dll.sources
  mono/metadata/pal-android.c
  mono/native/Makefile.am
  mono/native/mono-native-platform.h
  mono/native/pal-android.c
  mono/native/pal-android.h
  mono/native/pal_config.h
  sdks/android/Makefile
  sdks/android/app/CMakeLists.txt
  sdks/android/app/src/main/c/runtime-bootstrap.c
Owners: @luhenry, @marek-safar, @akoeplinger, @vargaz, @lambdageek, @baulig, @jonpryor

[bcl] Update BCL Linked Size
  mcs/tools/linker/monodroid-linked-size.csv
Owners: @marek-safar, @akoeplinger

Fix Sdk.props to point to correct Bindings library path
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props
Owners: @vargaz, @kjpou1, @kg, @lewing

Fix build dependencies
  sdks/wasm/Makefile
Owners: @vargaz, @kjpou1, @kg, @lewing

[Android] Fix the issue that Environment.TickCount returns wrong value due to /proc/uptime is unaccessible on Android 8 and above.
  mono/utils/mono-time.c
Owners: @vargaz, @lewurm

Move OperationStatus into shared source (dotnet/coreclr#21912)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Buffers/OperationStatus.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[debugger] Fix test ShouldCorrectlyStepOverOnExitFromArgsAfterStepInMethodParameter (#12114) (#12340)
  mcs/class/Mono.Debugger.Soft/Test/dtest-app.cs
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
  mono/metadata/seq-points-data.h
  mono/mini/debugger-engine.c
  mono/mini/interp/transform.c
  mono/mini/method-to-ir.c
  mono/mini/mini.h
  mono/mini/seq-points.c
Owners: @vargaz, @thaystg, @lambdageek, @lewurm, @BrzVlad

Fix AOT build - duplicate assembly key
  sdks/wasm/Makefile
Owners: @vargaz, @kjpou1, @kg, @lewing

Fix package target
  sdks/wasm/Makefile
Owners: @vargaz, @kjpou1, @kg, @lewing

[interp] use interp_lmf wrapper for interp2native on platforms with wonky sigcontext
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/ee.h
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
  mono/mini/mini-arm64.h
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini.h
Owners: @vargaz, @lewurm, @BrzVlad

Fix unrelated build issues
  mcs/class/System/monodroid_System.dll.sources
  mcs/class/System/unix_net_4_x_System.dll.sources
  mcs/class/corlib/System.IO/FileSystem.NotSupported.cs
  mcs/class/corlib/unix_build_corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[interp] use interp_lmf wrapper for interp2native on platforms with wonky sigcontext
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/ee.h
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
  mono/mini/mini-arm64.h
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini.h
Owners: @vargaz, @lewurm, @BrzVlad

[interp] use interp_lmf wrapper for interp2native on platforms with wonky sigcontext
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/ee.h
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
  mono/mini/mini-arm64.h
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini.h
Owners: @vargaz, @lewurm, @BrzVlad

[Mono.Debugger.Soft] Keep existing crash files in Crash() test
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
Owners: @vargaz, @thaystg

[bcl] Update BCL Linked Size
  mcs/tools/linker/monodroid-linked-size.csv
Owners: @marek-safar, @akoeplinger

Misc AppleTls / BTLS exception and error check changes. (#12319)
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsProvider.cs
  mcs/class/System/Mono.Btls/X509ChainImplBtls.cs
  mcs/class/System/System.Net.Sockets/Socket.cs
  mono/btls/btls-x509-verify-param.c
Owners: @baulig, @rolf, @marek-safar, @akoeplinger, @luhenry

Bump libgdiplus to mono-2018-12 branch tip
  packaging/MacSDK/libgdiplus.py
Owners: @alexischr, @akoeplinger, @luhenry, @directhex

Support asynchronous handlers of HttpApplication.EndRequest event.
  mcs/class/System.Web/System.Web/HttpApplication.cs
Owners: @marek-safar, @akoeplinger

[wasm] Cleanup Framework Bindings and HttpMessageHandler code. (#12326)
  sdks/wasm/Makefile
  sdks/wasm/WasmHttpMessageHandler.cs
  sdks/wasm/WebAssembly.Framework.nuspec
  sdks/wasm/bindings.cs
  sdks/wasm/framework/.gitignore
  sdks/wasm/framework/WebAssembly.Net.Http.xml
  sdks/wasm/framework/src/WebAssembly.Bindings/Export.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/JSException.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/JSObject.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Runtime.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/WebAssembly.Bindings.csproj
  sdks/wasm/framework/src/WebAssembly.Framework.sln
  sdks/wasm/framework/src/WebAssembly.Net.Http/WasmHttpMessageHandler.cs
  sdks/wasm/framework/src/WebAssembly.Net.Http/WebAssembly.Net.Http.csproj
  sdks/wasm/packager.cs
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props
  sdks/wasm/sdk/WebAssembly.Bindings.Framework/WebAssembly.Bindings.csproj
  sdks/wasm/sdk/WebAssembly.Net.Http.Framework/WebAssembly.Net.Http.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing
