Repository mono/mono, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @kg, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @egorbo, @radical, @BrzVlad, @miguel, @lambdageek, @bauligg, @thaystg, @jonpryor, @rolf, @alexanderkyte, @brzvlad, @lateralusX, @DavidKarlas, @directhex, @rolfbjarne, @kjpou1, @lewing

define BROTLI_BUILD_NO_RBIT
  mono/native/Makefile.am
Owners: @baulig, @luhenry, @marek-safar

Exclude unix domain socket tests from wasm profile
  mcs/class/System.Core/wasm_System.Core_xtest.dll.exclude.sources
Owners: @marek-safar, @akoeplinger

undo driver.c change
  mono/mini/driver.c
Owners: @vargaz, @lewurm

Disable two test files for issue #12324
  mcs/class/System.Core/System.Core_xtest.dll.sources
Owners: @marek-safar, @akoeplinger

[Fix] GetActiveTcpConnections now returns correct state in unix
  mcs/class/System/System.Net.NetworkInformation/UnixIPGlobalProperties.cs
Owners: @marek-safar, @akoeplinger

Fixup wasm build
  sdks/builds/wasm.mk
Owners: @vargaz, @kjpou1, @lewing

Expose string.Concat(ReadOnlySpan, ...) (dotnet/coreclr#21882)
  netcore/System.Private.CoreLib/shared/System/String.Manipulation.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[llvmonly] Set param names for gsharedvt in/out wrappers.
  mono/mini/mini-generic-sharing.c
Owners: @vargaz, @lewurm

[llvmonly] Avoid generating/loading trampolines in llvmonly+interp mode.
  mono/mini/aot-compiler.c
  mono/mini/driver.c
  mono/mini/exceptions-amd64.c
  mono/mini/interp/interp.c
  mono/mini/jit.h
  mono/mini/mini-exceptions.c
  mono/mini/mini-runtime.c
Owners: @vargaz, @lewurm, @luhenry, @BrzVlad

[llvmonly] Save whenever a method has a gsharedvt variable signature into the aot image and use that instead of looking up its MonoJitInfo, which is a perf problem since its done for all methods.
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/aot-runtime.h
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini-trampolines.c
Owners: @vargaz, @lewurm

Add a case to append_mangled_wrapper_subtype ().
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
Owners: @vargaz, @lewurm

[llvmonly] Allow --regression to work in mixed mode.
  mono/mini/driver.c
Owners: @vargaz, @lewurm

[llvmonly] Move initialization of delegate->method_ptr to mini_init_delegate (), pass a handle to the callback.
  mono/metadata/icall.c
  mono/metadata/object-internals.h
  mono/metadata/object.c
  mono/mini/ee.h
  mono/mini/interp-stubs.c
  mono/mini/interp/interp.c
  mono/mini/mini-runtime.c
  mono/mini/mini.h
Owners: @vargaz, @lambdageek, @lewurm, @BrzVlad

Revert "[llvmonly] Allow --regression to work in mixed mode."
  mono/mini/driver.c
Owners: @vargaz, @lewurm

[llvmonly] Use the dedup mangler for setting method names for gsharedvt in/out wrappers, shorten the names a bit.
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

Fix c++-isms.
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/interp/interp.c
  mono/mini/mini-exceptions.c
  mono/mini/mini-runtime.c
  mono/mini/mini-trampolines.c
Owners: @vargaz, @lewurm, @BrzVlad, @luhenry

Cleanup Framework Bindings and HttpMessageHandler code.
  sdks/wasm/Makefile
  sdks/wasm/WasmHttpMessageHandler.cs
  sdks/wasm/WebAssembly.Framework.nuspec
  sdks/wasm/bindings.cs
  sdks/wasm/framework/WebAssembly.Bindings.xml
  sdks/wasm/framework/WebAssembly.Net.Http.xml
  sdks/wasm/framework/src/WebAssembly.Bindings/Export.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/JSException.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/JSObject.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/Runtime.cs
  sdks/wasm/framework/src/WebAssembly.Bindings/WebAssembly.Bindings.csproj
  sdks/wasm/framework/src/WebAssembly.Framework.sln
  sdks/wasm/framework/src/WebAssembly.Net.Http/WasmHttpMessageHandler.cs
  sdks/wasm/framework/src/WebAssembly.Net.Http/WebAssembly.Net.Http.csproj
  sdks/wasm/packager.cs
  sdks/wasm/sdk/WebAssembly.Bindings.Framework/WebAssembly.Bindings.csproj
  sdks/wasm/sdk/WebAssembly.Net.Http.Framework/WebAssembly.Net.Http.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

Expose string.Concat(ReadOnlySpan, ...) (dotnet/coreclr#21882)
  netcore/System.Private.CoreLib/shared/System/String.Manipulation.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Moves common COM type to shared corelib partition (dotnet/corert#6782)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/AllowReversePInvokeCallsAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ArrayWithOffset.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/BStrWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ClassInterfaceAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ClassInterfaceType.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CoClassAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComDefaultInterfaceAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComEventInterfaceAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComMemberType.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComSourceInterfacesAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CurrencyWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CustomQueryInterfaceMode.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CustomQueryInterfaceResult.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DefaultParameterValueAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispIdAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispatchWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ErrorWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomAdapter.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomFactory.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomMarshaler.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomQueryInterface.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ProgIdAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/TypeIdentifierAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/UnknownWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/VariantWrapper.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Moves common COM type to shared corelib partition (dotnet/corert#6782)
  netcore/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/AllowReversePInvokeCallsAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ArrayWithOffset.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/BStrWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ClassInterfaceAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ClassInterfaceType.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CoClassAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComDefaultInterfaceAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComEventInterfaceAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComMemberType.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComSourceInterfacesAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CurrencyWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CustomQueryInterfaceMode.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/CustomQueryInterfaceResult.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DefaultParameterValueAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispIdAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/DispatchWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ErrorWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomAdapter.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomFactory.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomMarshaler.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ICustomQueryInterface.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/ProgIdAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/TypeIdentifierAttribute.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/UnknownWrapper.cs
  netcore/System.Private.CoreLib/shared/System/Runtime/InteropServices/VariantWrapper.cs
Owners: @marek-safar, @akoeplinger, @egorbo

[interp] Fix resuming into interp when finally throws exception
  mono/mini/mini-exceptions.c
  mono/mini/mixed.cs
  mono/tests/Makefile.am
Owners: @lewurm, @luhenry, @vargaz, @marek-safar

fix DateTime overflow on ARM32 (dotnet/coreclr#21902)
  netcore/System.Private.CoreLib/shared/System/DateTime.cs
Owners: @marek-safar, @akoeplinger, @egorbo

X
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsProvider.cs
  mcs/class/System/Mono.Btls/X509ChainImplBtls.cs
  mcs/class/System/System.Net.Sockets/Socket.cs
  mono/btls/btls-x509-verify-param.c
Owners: @baulig, @rolf, @marek-safar, @akoeplinger, @luhenry

fix DateTime overflow on ARM32 (dotnet/coreclr#21902)
  netcore/System.Private.CoreLib/shared/System/DateTime.cs
Owners: @marek-safar, @akoeplinger, @egorbo

Removing the crash log file after the test is finished.
  mcs/class/Mono.Debugger.Soft/Test/dtest.cs
Owners: @vargaz, @thaystg

Disable Chakra tests on wasm
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger, @alexischr

Modify projects to be netstandard instead of framework.
  sdks/wasm/Makefile
  sdks/wasm/framework/.gitignore
  sdks/wasm/framework/WebAssembly.Bindings.xml
  sdks/wasm/framework/src/WebAssembly.Bindings/WebAssembly.Bindings.csproj
  sdks/wasm/framework/src/WebAssembly.Net.Http/WebAssembly.Net.Http.csproj
Owners: @vargaz, @kjpou1, @kg, @lewing

[wasm] Re-enable chakra tests - DO NOT MERGE
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger, @alexischr

[wasm] Fix build target errors (#12314)
  sdks/wasm/Makefile
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets
  sdks/wasm/sdk/Mono.WebAssembly.Build/WasmLinkAssemblies.cs
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props
Owners: @vargaz, @kjpou1, @kg, @lewing

moved assignment of keys in mono_conc_hashtable_insert after tombstone checks.
  mono/utils/mono-conc-hashtable.c
Owners: @vargaz, @lewurm

Bitcode mixed mode work. (#12312)
  mono/metadata/icall.c
  mono/metadata/object-internals.h
  mono/metadata/object.c
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/aot-runtime.h
  mono/mini/driver.c
  mono/mini/ee.h
  mono/mini/exceptions-amd64.c
  mono/mini/interp-stubs.c
  mono/mini/interp/interp.c
  mono/mini/jit.h
  mono/mini/mini-exceptions.c
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini-trampolines.c
  mono/mini/mini.h
Owners: @vargaz, @lambdageek, @lewurm, @luhenry, @BrzVlad

[interp] use interp_lmf wrapper for interp2native on platforms with wonky sigcontext
  mono/mini/aot-compiler.c
  mono/mini/aot-runtime.c
  mono/mini/ee.h
  mono/mini/interp/interp-internals.h
  mono/mini/interp/interp.c
  mono/mini/interp/transform.c
  mono/mini/mini-arm64.h
  mono/mini/mini-generic-sharing.c
  mono/mini/mini-runtime.c
  mono/mini/mini.h
Owners: @vargaz, @lewurm, @BrzVlad

bump interp API version after https://github.com/mono/mono/pull/12312
  mono/mini/ee.h
Owners: @vargaz, @lewurm

update mangle for WRAPPER_SUBTYPE_INTERP_LMF
  mono/mini/aot-compiler.c
Owners: @vargaz, @lewurm

Move UnixDomainSockets pipe test to only run on linux net_4_x since it seems like it basically will only work there
  mcs/class/System.Core/System.Core_xtest.dll.sources
  mcs/class/System.Core/linux_net_4_x_System.Core_xtest.dll.sources
Owners: @marek-safar, @akoeplinger

Ignore enotconn error results from the socket shutdown API
  mcs/class/System/System.Net.Sockets/Socket.cs
Owners: @marek-safar, @akoeplinger

[coop] Move mono_threads_is_blocking_transitions_enabled to header
  mono/utils/mono-threads-coop.c
  mono/utils/mono-threads-coop.h
Owners: @luhenry, @vargaz

[coop] Drop support for MONO_ENABLE_BLOCKING_TRANSITION env var
  mono/utils/mono-threads-coop.c
Owners: @luhenry, @vargaz

Bump libgdiplus to mono-2018-12 branch tip
  packaging/MacSDK/libgdiplus.py
Owners: @alexischr, @akoeplinger, @luhenry, @directhex

Bump jsvu
  sdks/wasm/package.json
Owners: @vargaz, @kjpou1, @kg, @lewing

.github/CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @alexrp @akoeplinger

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz @luhenry
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar @akoeplinger
/docs/riscv.md @alexrp @lewurm
/docs/sources/mono-api-profiler.html @alexrp

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @egorbo @alexischr
/external/corert @akoeplinger @marek-safar @egorbo @alexischr
/external/linker @marek-safar
/external/llvm @luhenry @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @baulig @marek-safar
/mcs/class/Mono.Btls.Interface @bauligg @marek-safar
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @alexrp @luhenry
/mcs/class/Mono.Security/Mono.Security/Interface @baulig @marek-safar
/mcs/class/System/Mono.AppleTls @baulig @rolf
/mcs/class/System/Mono.Btls @baulig  @marek-safar
/mcs/class/System/Mono.Net.Security @baulig  @marek-safar
/mcs/class/System/Mono.Security.Interface @baulig  @marek-safar
/mcs/class/System/System.Security.Cryptography.X509Certificates @baulig  @marek-safar
/mcs/class/System.Data* @egorbo  @marek-safar

/mcs/errors @marek-safar @lewurm
/mcs/ilasm @marek-safar @lewurm
/mcs/jay @marek-safar @lewurm
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar @lewurm

/mcs/tools @marek-safar @akoeplinger
/mcs/tools/gensources @kg @akoeplinger
/mcs/tools/resx2sr @baulig
/mcs/tools/upload-to-sentry @alexanderkyte @akoeplinger

/mono/arch @vargaz @lewurm

/mono/btls @baulig @luhenry @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @luhenry

/mono/benchmark @alexanderkyte @luhenry

/mono/metadata @vargaz @lambdageek
/mono/metadata/*verify* @lambdageek @luhenry
/mono/metadata/*profiler* @alexrp @luhenry
/mono/metadata/handle* @luhenry @lambdageek
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @luhenry @lateralusX
/mono/metadata/w32* @luhenry @lateralusX
/mono/metadata/*-win* @lateralusX @luhenry @luhenry

/mono/mini @vargaz @lewurm
/mono/mini/*cfgdump* @lewurm @luhenry
/mono/mini/*exceptions* @lewurm @luhenry
/mono/mini/*ppc* @lewurm @vargaz
/mono/mini/*riscv* @alexrp @lewurm
/mono/mini/*type-check* @lewurm @lambdageek
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp @luhenry
/mono/mini/debugger-agent.c @vargaz @thaystg @DavidKarlas

/mono/native @baulig @luhenry @marek-safar

/mono/profiler @alexrp @luhenry

/mono/sgen @BrzVlad @luhenry

/mono/utils @vargaz @lewurm 
/mono/utils/atomic* @lewurm @luhenry
/mono/utils/mono-hwcap* @lewurm @luhenry
/mono/utils/mono-mem* @lewurm @luhenry
/mono/utils/mono-threads* @luhenry @vargaz
/mono/utils/*-win* @lateralusX @luhenry

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp @luhenry
/msvc/scripts @akoeplinger @kg

/netcore @marek-safar @akoeplinger @egorbo

/packaging @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry @lewurm
/samples/profiler @alexrp @luhenry
/samples/size @alexrp @luhenry

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr

/sdks @marek-safar @luhenry @vargaz
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/builds/wasm* @vargaz @kjpou1 @lewing
/sdks/wasm @vargaz @kjpou1 @kg @lewing
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @luhenry @vargaz
/tools/locale-builder @marek-safar @egorbo
/tools/monograph @vargaz @vargaz
/tools/nuget-hash-extractor @marek-safar @radical
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @lambdageek @lewurm
/tools/sgen @brzvlad @vargaz
