Repository mono/mono, pull requests merged in 2018-10, with the labels that each got.

#10532 [crash] Crash Reporter V2
  configure.ac
  mcs/class/corlib/Mono/Runtime.cs
  mcs/class/corlib/Test/System/ExceptionTest.cs
  mono/metadata/class-internals.h
  mono/metadata/debug-helpers.c
  mono/metadata/domain-internals.h
  mono/metadata/icall-decl.h
  mono/metadata/icall-def.h
  mono/metadata/icall.c
  mono/metadata/mono-debug.c
  mono/metadata/object-internals.h
  mono/metadata/threads-types.h
  mono/metadata/threads.c
  mono/mini/aot-runtime.c
  mono/mini/debugger-engine.c
  mono/mini/interp/transform.c
  mono/mini/mini-exceptions.c
  mono/mini/mini-posix.c
  mono/mini/mini-runtime.c
  mono/mini/mini-runtime.h
  mono/mini/mini.c
  mono/mini/seq-points.c
  mono/mini/seq-points.h
  mono/utils/mono-state.c
  mono/utils/mono-state.h
  mono/utils/mono-threads-posix.c
  mono/utils/mono-threads.h
Labels: area-Runtime: Crash Reporting

#11134 Partially exclude custom modifiers from metadata type equality
  mono/metadata/metadata.c
Labels: epic: Roslyn Tests

#11255 Extend WasmHttpMessageHandler
  sdks/wasm/WasmHttpMessageHandler.cs
Labels: target-wasm
