Repository mono/mono, pull requests merged in 2018-12, with the labels that each got.

#11884 [crash] Switch crash reporting writers to no-allocate + validate json
  configure.ac
  mcs/class/corlib/Mono/Runtime.cs
  mono/metadata/icall-def.h
  mono/metadata/icall.c
  mono/mini/mini-posix.c
  mono/tests/Makefile.am
  mono/tests/merp-json-valid.cs
  mono/utils/mono-merp.c
  mono/utils/mono-merp.h
  mono/utils/mono-state.c
  mono/utils/mono-state.h
  mono/utils/mono-threads-debug.h
Labels: area-Runtime: Crash Reporting

#11967 [gensources]: Add platform/project logic to tests.
  mcs/build/library.make
  mcs/build/tests.make
  mcs/class/corlib/win32_net_4_x_corlib_test.dll.sources
  mcs/tools/gensources/gensources.cs
  msvc/scripts/genproj.cs
Labels: area-Build, ready-for-review

#12121 Allow urls with a blob scheme to pass validation in WASM
  mcs/class/System.Net.Http/System.Net.Http/HttpRequestMessage.cs
  sdks/wasm/tests/browser/HttpTestSuite.cs
  sdks/wasm/tests/browser/http-spec.js
Labels: target-wasm

#12124 Skip TypedReferenceTest fixture for WASM as it causes a runtime abort
  mcs/class/corlib/Test/System/TypedReferenceTest.cs
Labels: target-wasm
