Repository mono/mono, pull requests merged in 2018-04, with the labels that each got.

#7956 Fix .assembly directive to make some tailcall tests AOT compatible.
  mono/tests/gptail1.il
  mono/tests/itail1.il
  mono/tests/itaili1.il
  mono/tests/ivtail1.il
  mono/tests/sirtail1.il
  mono/tests/sitail1.il
  mono/tests/srtail1.il
  mono/tests/stail1.il
  mono/tests/tail1.il
  mono/tests/tailcall-generic-cast-conservestack-il.il
  mono/tests/tailcall-generic-cast-nocrash-il.il
  mono/tests/tailcall-interface-conservestack.il
  mono/tests/tailcall-interface-justrun.il
  mono/tests/tailcall-mrgctx.il
  mono/tests/tailcall-rgctxa.il
  mono/tests/tailcall-rgctxb.il
  mono/tests/tailcall-virt.il
  mono/tests/tailcall/fsharp.il
  mono/tests/taili1.il
  mono/tests/vtail1.il
Labels: epic: Tail calls

#7928 [sdks] Add provisioning for Android SDK and NDK
  scripts/ci/run-jenkins.sh
  sdks/android/Makefile
  sdks/builds/Makefile
  sdks/builds/android.mk
  sdks/builds/llvm.mk
  sdks/builds/mxe.mk
  sdks/paths.mk
  sdks/versions.mk
  sdks/wasm/Makefile
Labels: epic: SDKs

#7993 [Coop] Remove bug-producing double evaluating macros in checked builds.
  mono/metadata/handle.c
  mono/metadata/handle.h
Labels: epic: Coop

#7985 [Tailcall] Dial back single -v output, and enable under MONO_LOG_LEVEL=debug MONO_LOG_MASK=tailcall.
  mono/mini/method-to-ir.c
  mono/utils/mono-logger-internals.h
  mono/utils/mono-logger.c
Labels: epic: Tail calls

#7966 [Tailcall] virtual call support for arm64, x86; more return types supported for arm64
  mono/mini/cpu-arm64.md
  mono/mini/cpu-x86.md
  mono/mini/method-to-ir.c
  mono/mini/mini-amd64.c
  mono/mini/mini-arm.c
  mono/mini/mini-arm64.c
  mono/mini/mini-arm64.h
  mono/mini/mini-x86.c
  mono/mini/mini-x86.h
  mono/tests/Makefile.am
  mono/tests/tailcall/fsharp-deeptail.il
  mono/tests/tailcall/fsharp-shallownotail.il
  mono/tests/tailcall/fsharp-shallowtail.il
Labels: epic: Tail calls
