Repository mono/mono, pull requests merged in 2019-01, with the labels that each got.

#12221 Add WebAssembly MSBuild targets
  sdks/README.md
  sdks/wasm/.gitignore
  sdks/wasm/sdk/.editorconfig
  sdks/wasm/sdk/.gitignore
  sdks/wasm/sdk/Directory.Build.props
  sdks/wasm/sdk/Directory.Build.targets
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.props
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets
  sdks/wasm/sdk/Mono.WebAssembly.Build/Mono.WebAssembly.Build.targets.buildschema.json
  sdks/wasm/sdk/Mono.WebAssembly.Build/RuntimeJs.cs
  sdks/wasm/sdk/Mono.WebAssembly.Build/RuntimeJs.tt
  sdks/wasm/sdk/Mono.WebAssembly.Build/RuntimeJsBase.cs
  sdks/wasm/sdk/Mono.WebAssembly.Build/WasmCreateRuntimeJs.cs
  sdks/wasm/sdk/Mono.WebAssembly.Build/WasmLinkAssemblies.cs
  sdks/wasm/sdk/Mono.WebAssembly.Framework/Mono.WebAssembly.Framework.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Framework/build/netstandard2.0/Mono.WebAssembly.Framework.props
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/Mono.WebAssembly.Runtime.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Runtime.Framework/build/netstandard2.0/Mono.WebAssembly.Runtime.props
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/Mono.WebAssembly.Sdk.csproj
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props.buildschema.json
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.targets
  sdks/wasm/sdk/Mono.WebAssembly.SdkTests/BuildTests.cs
  sdks/wasm/sdk/Mono.WebAssembly.SdkTests/Mono.WebAssembly.SdkTests.csproj
  sdks/wasm/sdk/Mono.WebAssembly.SdkTests/TestBase.cs
  sdks/wasm/sdk/Mono.WebAssembly.SdkTests/WasmProjectTemplates.cs
  sdks/wasm/sdk/MonoWasmSdk.sln
  sdks/wasm/sdk/NuGet.config
  sdks/wasm/sdk/Packages.props
  sdks/wasm/sdk/Samples/Directory.Build.props
  sdks/wasm/sdk/Samples/MonoWasmSample/MonoWasmSample.csproj
  sdks/wasm/sdk/Samples/MonoWasmSample/sample.html
  sdks/wasm/sdk/Samples/Simple.Dependency/Simple.Dependency.csproj
  sdks/wasm/sdk/WebAssembly.Bindings.Framework/WebAssembly.Bindings.csproj
  sdks/wasm/sdk/WebAssembly.Net.Http.Framework/WebAssembly.Net.Http.csproj
  sdks/wasm/sdk/global.json
Labels: target-wasm

#12271 Add explicit no-op to RISC-V FPU detection, to fix old Autoconf (RHEL 6)
  configure.ac
Labels: area-Build, os-linux, os-linux-rhel

#12332 [wasm][ci] Re-enable chakra tests
  scripts/ci/run-jenkins.sh
  sdks/wasm/package.json
Labels: target-wasm

#12319 Misc AppleTls / BTLS exception and error check changes.
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsProvider.cs
  mcs/class/System/Mono.Btls/X509ChainImplBtls.cs
  mcs/class/System/System.Net.Sockets/Socket.cs
  mono/btls/btls-x509-verify-param.c
Labels: ready-for-review

#12572 [2018-12] Native Crash Stability Fix Batch
  configure.ac
  mcs/class/corlib/Mono/Runtime.cs
  mcs/class/corlib/Test/System/ExceptionTest.cs
  mono/eglib/eglib-config.h.in
  mono/eglib/eglib-remap.h
  mono/eglib/glib.h
  mono/eglib/gmem.c
  mono/eglib/goutput.c
  mono/metadata/icall-def.h
  mono/metadata/icall.c
  mono/metadata/image.c
  mono/metadata/metadata-internals.h
  mono/metadata/object-internals.h
  mono/metadata/threads-types.h
  mono/metadata/threads.c
  mono/metadata/w32process-unix.c
  mono/mini/debugger-state-machine.h
  mono/mini/exceptions-amd64.c
  mono/mini/exceptions-arm.c
  mono/mini/exceptions-arm64.c
  mono/mini/exceptions-mips.c
  mono/mini/exceptions-ppc.c
  mono/mini/exceptions-s390x.c
  mono/mini/exceptions-x86.c
  mono/mini/mini-exceptions.c
  mono/mini/mini-posix.c
  mono/mini/mini-runtime.c
  mono/mini/mini-runtime.h
  mono/mini/mini-unwind.h
  mono/mini/mini-wasm.c
  mono/mini/mini-windows.c
  mono/mini/unwind.c
  mono/tests/Makefile.am
  mono/tests/libtest.c
  mono/tests/merp-crash-test.cs
  mono/tests/merp-json-valid.cs
  mono/utils/mono-log-android.c
  mono/utils/mono-log-common.c
  mono/utils/mono-log-darwin.c
  mono/utils/mono-log-posix.c
  mono/utils/mono-log-windows.c
  mono/utils/mono-logger.c
  mono/utils/mono-merp.c
  mono/utils/mono-merp.h
  mono/utils/mono-proclib.c
  mono/utils/mono-proclib.h
  mono/utils/mono-state.c
  mono/utils/mono-state.h
  mono/utils/mono-threads-debug.h
  mono/utils/mono-threads.c
Labels: area-Runtime: Crash Reporting

#12565 [2018-08] Native Crash Stability Fix Batch
  configure.ac
  mcs/class/corlib/Mono/Runtime.cs
  mcs/class/corlib/Test/System/ExceptionTest.cs
  mono/eglib/eglib-config.h.in
  mono/eglib/eglib-remap.h
  mono/eglib/glib.h
  mono/eglib/gmem.c
  mono/eglib/goutput.c
  mono/metadata/icall-def.h
  mono/metadata/icall.c
  mono/metadata/image.c
  mono/metadata/metadata-internals.h
  mono/metadata/object-internals.h
  mono/metadata/threads-types.h
  mono/metadata/threads.c
  mono/metadata/w32process-unix.c
  mono/mini/debugger-state-machine.h
  mono/mini/exceptions-amd64.c
  mono/mini/exceptions-arm.c
  mono/mini/exceptions-arm64.c
  mono/mini/exceptions-mips.c
  mono/mini/exceptions-ppc.c
  mono/mini/exceptions-s390x.c
  mono/mini/exceptions-x86.c
  mono/mini/mini-exceptions.c
  mono/mini/mini-posix.c
  mono/mini/mini-runtime.c
  mono/mini/mini-runtime.h
  mono/mini/mini-unwind.h
  mono/mini/mini-wasm.c
  mono/mini/mini-windows.c
  mono/mini/unwind.c
  mono/tests/Makefile.am
  mono/tests/libtest.c
  mono/tests/merp-crash-test.cs
  mono/tests/merp-json-valid.cs
  mono/utils/mono-log-android.c
  mono/utils/mono-log-common.c
  mono/utils/mono-log-darwin.c
  mono/utils/mono-log-posix.c
  mono/utils/mono-log-windows.c
  mono/utils/mono-logger.c
  mono/utils/mono-merp.c
  mono/utils/mono-merp.h
  mono/utils/mono-proclib.c
  mono/utils/mono-proclib.h
  mono/utils/mono-state.c
  mono/utils/mono-state.h
  mono/utils/mono-threads-debug.h
  mono/utils/mono-threads.c
Labels: area-Runtime: Crash Reporting

#12571 [2018-10] Native Crash Stability Fix Batch
  configure.ac
  mcs/class/corlib/Mono/Runtime.cs
  mcs/class/corlib/Test/System/ExceptionTest.cs
  mono/eglib/eglib-config.h.in
  mono/eglib/eglib-remap.h
  mono/eglib/glib.h
  mono/eglib/gmem.c
  mono/eglib/goutput.c
  mono/metadata/icall-def.h
  mono/metadata/icall.c
  mono/metadata/image.c
  mono/metadata/metadata-internals.h
  mono/metadata/object-internals.h
  mono/metadata/threads-types.h
  mono/metadata/threads.c
  mono/metadata/w32process-unix.c
  mono/mini/debugger-state-machine.h
  mono/mini/exceptions-amd64.c
  mono/mini/exceptions-arm.c
  mono/mini/exceptions-arm64.c
  mono/mini/exceptions-mips.c
  mono/mini/exceptions-ppc.c
  mono/mini/exceptions-s390x.c
  mono/mini/exceptions-x86.c
  mono/mini/mini-exceptions.c
  mono/mini/mini-posix.c
  mono/mini/mini-runtime.c
  mono/mini/mini-runtime.h
  mono/mini/mini-unwind.h
  mono/mini/mini-wasm.c
  mono/mini/mini-windows.c
  mono/mini/unwind.c
  mono/tests/Makefile.am
  mono/tests/libtest.c
  mono/tests/merp-crash-test.cs
  mono/tests/merp-json-valid.cs
  mono/utils/mono-log-android.c
  mono/utils/mono-log-common.c
  mono/utils/mono-log-darwin.c
  mono/utils/mono-log-posix.c
  mono/utils/mono-log-windows.c
  mono/utils/mono-logger.c
  mono/utils/mono-merp.c
  mono/utils/mono-merp.h
  mono/utils/mono-proclib.c
  mono/utils/mono-proclib.h
  mono/utils/mono-state.c
  mono/utils/mono-state.h
  mono/utils/mono-threads-debug.h
  mono/utils/mono-threads.c
Labels: area-Runtime: Crash Reporting

#12615 [wasm] Wasm Websocket support
  sdks/wasm/Makefile
  sdks/wasm/framework/src/WebAssembly.Framework.sln
  sdks/wasm/framework/src/WebAssembly.Net.WebSockets/ClientWebSocket.cs
  sdks/wasm/framework/src/WebAssembly.Net.WebSockets/ReceivePayload.cs
  sdks/wasm/framework/src/WebAssembly.Net.WebSockets/WebAssembly.Net.WebSockets.csproj
  sdks/wasm/framework/src/WebAssembly.Net.WebSockets/WebSocketHelpers.cs
  sdks/wasm/packager.cs
  sdks/wasm/sdk/Mono.WebAssembly.Build/WasmLinkAssemblies.cs
  sdks/wasm/sdk/Mono.WebAssembly.Sdk/sdk/Sdk.props
  sdks/wasm/sdk/MonoWasmSdk.sln
  sdks/wasm/sdk/WebAssembly.Net.WebSockets/WebAssembly.Net.WebSockets.csproj
Labels: target-wasm
