Repository mono/mono, pull requests merged in 2020-03, with the labels that each got.

#19110 [Loader] Change mono_trace level from info to debug
  mono/metadata/appdomain.c
  mono/metadata/assembly-load-context.c
  mono/metadata/assembly.c
  mono/metadata/domain.c
  mono/metadata/image.c
  mono/metadata/mono-config.c
  mono/metadata/native-library.c
  mono/metadata/sgen-bridge.c
  mono/metadata/sgen-mono.c
  mono/metadata/sgen-new-bridge.c
  mono/metadata/sgen-old-bridge.c
  mono/metadata/sgen-tarjan-bridge.c
  mono/metadata/threadpool-worker-default.c
  mono/mini/aot-runtime.c
  mono/mini/monovm.c
  mono/sgen/sgen-memory-governor.c
Labels: area-Runtime: Loader

#19327 [wasm][debugger]: Correctly handle null sessionId.
  sdks/wasm/Mono.WebAssembly.DebuggerProxy/DevToolsProxy.cs
Labels: target-wasm

#19294 [interp] Constant fold also checked conversion opcodes
  mono/mini/interp/interp.c
  mono/mini/interp/mintops.def
  mono/mini/interp/transform.c
Labels: do-not-merge
