Repository mono/mono, changes with the owners that CODEOWNERS names for each.
All owners: @luhenry, @marek-safar, @akoeplinger, @alexrp, @vargaz, @lewurm, @alexischr, @baulig, @radical, @BrzVlad, @miguel, @lambdageek, @egorbo, @jonpryor, @kumpera, @brzvlad, @lateralusX, @DavidKarlas, @kg, @directhex, @rolfbjarne, @lrz, @tritao

CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @luhenry @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger
/acceptance-tests/profiler-stress* @alexrp

/data @marek-safar @akoeplinger @luhenry
/data/gdb @vargaz
/data/lldb @lewurm @vargaz

/docs @luhenry @marek-safar
/docs/sources/mono-api-profiler.html @alexrp

/external @marek-safar @luhenry
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger @alexischr
/external/boringssl @baulig
/external/nuget-buildtasks @radical @akoeplinger

/libgc @BrzVlad @vargaz @luhenry

/llvm @vargaz @luhenry

/man @marek-safar @miguel @luhenry
/man/*prof* @alexrp

/mcs @marek-safar @luhenry

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/Mono.Btls.Interface @baulig
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz
/mcs/class/Mono.Options @jonpryor
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig
/mcs/class/System/Mono.AppleTls @baulig
/mcs/class/System/Mono.Btls @baulig
/mcs/class/System/Mono.Net.Security @baulig
/mcs/class/System/Mono.Security.Interface @baulig
/mcs/class/System.Data* @egorbo

/mcs/errors @marek-safar
/mcs/ilasm @marek-safar
/mcs/jay @marek-safar
/mcs/mcs @marek-safar @lewurm
/mcs/tests @marek-safar
/mcs/tools @marek-safar @akoeplinger

/mono @luhenry

/mono/btls @baulig
/mono/dis @lambdageek @vargaz
/mono/eglib @kumpera @vargaz @luhenry

/mono/metadata @vargaz @kumpera
/mono/metadata/*verify* @kumpera
/mono/metadata/*profiler* @alexrp
/mono/metadata/monitor* @brzvlad
/mono/metadata/sgen* @brzvlad
/mono/metadata/threads* @luhenry @kumpera
/mono/metadata/threadpool* @luhenry
/mono/metadata/w32* @luhenry
/mono/metadata/*-win* @lateralusX @luhenry

/mono/mini @vargaz @kumpera
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm
/mono/mini/*type-check* @lewurm
/mono/mini/interp/* @lewurm @BrzVlad
/mono/mini/*profiler* @alexrp
/mono/mini/debugger-agent.c @DavidKarlas

/mono/profiler @alexrp @kumpera

/mono/sgen @BrzVlad @kumpera

/mono/utils @kumpera @vargaz
/mono/utils/atomic* @alexrp
/mono/utils/mono-hwcap* @alexrp
/mono/utils/mono-mem* @alexrp
/mono/utils/mono-threads* @luhenry @kumpera
/mono/utils/*-win* @lateralusX @kumpera

/msvc @lateralusX @luhenry
/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger @kg

/packaging/ @alexischr @akoeplinger @luhenry @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar @luhenry

/samples @luhenry
/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger @luhenry
/scripts/ci @akoeplinger @alexischr
/scripts/ci/run-test-profiler-stress-tests.sh @alexrp

/sdks @marek-safar @luhenry
/sdks/builds/android* @luhenry @jonpryor
/sdks/builds/mxe* @luhenry @jonpryor
/sdks/builds/ios* @vargaz @rolfbjarne
/sdks/wasm @kumpera @lrz
/sdks/ios @vargaz @rolfbjarne
/sdks/android @luhenry @jonpryor

/support @luhenry @vargaz

/tools @kumpera @luhenry
/tools/checker @tritao
/tools/crash-bisector @kumpera
/tools/locale-builder @marek-safar
/tools/monograph @vargaz
/tools/nuget-hash-extractor @marek-safar
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @kumpera @lambdageek
/tools/sgen @brzvlad

Give backend more leeway for CEE_JMP valuetype also.
  mono/mini/method-to-ir.c
Owners: @vargaz, @kumpera

[System.Xml.Linq] fix issue with case sensitivity in paths
  mcs/class/System.Xml.Linq/System.Xml.Linq.dll.sources
Owners: @marek-safar, @akoeplinger

[csproj] Update project files
  mcs/class/corlib/corlib.csproj
Owners: @marek-safar, @akoeplinger

[corlib] System.Text.Encoding.* from CoreFX (#7466)
  mcs/class/corlib/System.Text/NormalizationForm.cs
  mcs/class/corlib/corefx/MemoryMarshal.cs
  mcs/class/corlib/corlib.csproj
  mcs/class/corlib/corlib.dll.sources
  mcs/class/corlib/corlib_xtest.dll.sources
  mcs/class/referencesource/mscorlib/system/text/encoding.cs
Owners: @marek-safar, @akoeplinger

[dist] Add new mk/ subfolder to SUBDIRS in Makefile.am
  Makefile.am
Owners: @luhenry, @marek-safar

nuget-hash-extractor: Sort the lists for easier reviews
  mcs/tools/xbuild/data/deniedAssembliesList.txt
  mono/metadata/image.c
Owners: @marek-safar, @akoeplinger, @vargaz, @kumpera

nuget-hash-extractor: Add msbuild extensions nuget version from
  tools/nuget-hash-extractor/download.sh
Owners: @marek-safar

nuget-hash-extractor: Add `all` option to emit all 3 lists
  tools/nuget-hash-extractor/Makefile
  tools/nuget-hash-extractor/nuget-hash-extractor.cs
Owners: @marek-safar

nuget-hash-extractor: Improvements for better, deterministic output
  tools/nuget-hash-extractor/nuget-hash-extractor.cs
Owners: @marek-safar

[build] Add a -march forcing crypto extensions on ARM64
  configure.ac
Owners: @luhenry, @marek-safar

Add System.ComponentModel.Composition xunit tests
  mcs/class/System.ComponentModel.Composition.4.5/Makefile
  mcs/class/System.ComponentModel.Composition.4.5/System.ComponentModel.Composition_xtest.dll.sources
  mcs/class/System.ComponentModel.Composition.4.5/corefx/SR.cs
  mcs/class/System.ComponentModel.Composition.4.5/src/Assembly/AssemblyInfo.cs
  scripts/ci/run-test-default.sh
Owners: @marek-safar, @akoeplinger, @alexischr

Add System.ComponentModel.Composition xunit tests
  mcs/class/System.ComponentModel.Composition.4.5/Makefile
  mcs/class/System.ComponentModel.Composition.4.5/System.ComponentModel.Composition_xtest.dll.sources
  mcs/class/System.ComponentModel.Composition.4.5/corefx/SR.cs
  mcs/class/System.ComponentModel.Composition.4.5/src/Assembly/AssemblyInfo.cs
  scripts/ci/run-test-default.sh
Owners: @marek-safar, @akoeplinger, @alexischr

Update HtmlForm.cs for issue #8526
  mcs/class/System.Web/System.Web.UI.HtmlControls/HtmlForm.cs
Owners: @marek-safar, @akoeplinger

[mcs] Mimic csc behaviour when attribute value is a typedef and add also assembly reference for it
  mcs/mcs/assembly.cs
  mcs/mcs/attribute.cs
  mcs/mcs/class.cs
  mcs/mcs/field.cs
  mcs/mcs/module.cs
Owners: @marek-safar, @lewurm

more corefx imports
  mcs/class/corlib/corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[loader] If binding redirection redirects to the same version, ignore it
  mono/metadata/assembly.c
Owners: @vargaz, @kumpera

more corefx imports
  mcs/class/corlib/corlib.dll.sources
Owners: @marek-safar, @akoeplinger

[System]: Wrap `ServicePointScheduler.StartScheduler()` call with `Task.Run()` to avoid a deadlock.
  mcs/class/System/System.Net/ServicePointScheduler.cs
Owners: @marek-safar, @akoeplinger

[Mono.Security] Fix session ID handling in legacy TLS provider.
  mcs/class/Mono.Security/Mono.Security.Protocol.Tls.Handshake.Server/TlsClientHello.cs
  mcs/class/Mono.Security/Mono.Security.Protocol.Tls.Handshake.Server/TlsServerHello.cs
Owners: @marek-safar, @akoeplinger

Bump msbuild to track xplat-master (#8501)
  packaging/MacSDK/msbuild.py
Owners: @radical, @akoeplinger

[mcs] Mimic csc behaviour when attribute value is a typedef and add also assembly reference for it
  mcs/mcs/assembly.cs
  mcs/mcs/attribute.cs
  mcs/mcs/class.cs
  mcs/mcs/field.cs
  mcs/mcs/module.cs
Owners: @marek-safar, @lewurm

[native types] fix nfloat:NaN on arm64 JIT and interp
  mono/mini/builtin-types.cs
  mono/mini/interp/interp.c
  mono/mini/mini-native-types.c
Owners: @vargaz, @kumpera, @lewurm, @BrzVlad

[Tailcall ppc/s390x] Update ppc/s390x to be more like x86/amd64/arm/arm64
  mono/mini/mini-ppc.c
  mono/mini/mini-s390x.c
Owners: @lewurm, @vargaz, @kumpera

temporarily ignore failed tests
  mcs/class/System.ComponentModel.Composition.4.5/System.ComponentModel.Composition_xtest.dll.sources
Owners: @marek-safar, @akoeplinger

[runtime] Fix runtime invoke with generic enums
  mono/metadata/marshal-ilgen.c
Owners: @vargaz, @kumpera

[Tailcall ppc/s390x] Update ppc/s390x to be more like x86/amd64/arm/arm64 i.e. matching return storage, and s390x matching struct-ness/size.
  mono/mini/mini-ppc.c
  mono/mini/mini-s390x.c
Owners: @lewurm, @vargaz, @kumpera

[Tailcall] Add tailcall-return-valuetype.il test. This can be fixed easily -- when F1 calls F2 tailcalls F3. F2 can pass F3 the temporary it got from F1 instead of having another temporary.
  mono/tests/Makefile.am
  mono/tests/tailcall-return-valuetype.il
Owners: @luhenry

[Tailcall] Let valuetypes be returned through tailcalls.
  mono/mini/mini-amd64.c
  mono/mini/mini-arm.c
  mono/mini/mini-ppc.c
  mono/mini/mini-s390x.c
  mono/mini/mini-x86.c
Owners: @vargaz, @kumpera, @lewurm

[Tailcall] Remove unnecessary arm64 restriction.
  mono/mini/mini-arm64.c
Owners: @vargaz, @kumpera

[Tailcall] Let tailcall-return-valuetype.exe run.
  mono/tests/Makefile.am
Owners: @luhenry

[Tailcall] Restore an F# test.
  mono/tests/tailcall/fsharp-deeptail.il
Owners: @luhenry

Disable new tailcall test for interpreter.
  mono/tests/Makefile.am
Owners: @luhenry

Give flaky test more time.
  mcs/class/Microsoft.Build/Test/Microsoft.Build.Execution/BuildSubmissionTest.cs
Owners: @marek-safar, @akoeplinger

[loader] If binding redirection redirects to the same version, ignore it (#8547)
  mono/metadata/assembly.c
Owners: @vargaz, @kumpera

Remove redundant lock.
  mcs/class/System/System.Net/ServicePointScheduler.cs
Owners: @marek-safar, @akoeplinger

Fix compiler warning.
  mcs/class/System/System.Net/WebOperation.cs
Owners: @marek-safar, @akoeplinger

[System]: Free ServicePoints when they're no longer used.
  mcs/class/Mono.Security/Mono.Security.Interface/MonoTlsProviderFactory.cs
  mcs/class/System/System.Net/ServicePoint.cs
  mcs/class/System/System.Net/ServicePointManager.cs
  mcs/class/System/System.Net/ServicePointScheduler.cs
Owners: @marek-safar, @akoeplinger

Deambiguate TLS
  man/mono.1
Owners: @marek-safar, @miguel, @luhenry

[mono] Add support for response files, using --response=FILE
  man/mono.1
  mono/mini/driver.c
Owners: @marek-safar, @miguel, @luhenry, @vargaz, @kumpera

[ilasm] Add support for assembling vbbyrefstr, fixes https://github.com/mono/mono/issues/8447 (#8467)
  mcs/ilasm/parser/ILParser.jay
  mcs/ilasm/scanner/ILTables.cs
  mcs/ilasm/tests/test-marshal.il
Owners: @marek-safar
