Repository mono/mono, changes with the owners that CODEOWNERS names for each.
All owners: @akoeplinger, @alexrp, @luhenry, @marek-safar, @miguel, @vargaz, @lambdageek, @baulig, @egorbo, @jonpryor, @kumpera, @brzvlad, @lewurm, @alexischr, @radical, @tritao, @rolfbjarne

CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to ping for reviews on pull requests.
# If you're the primary maintainer of an area of Mono and you don't mind
# reviewing pull requests, please add yourself to this file. You may want to
# avoid adding entries for commonly changed or automatically generated files
# (e.g. stuff in external/, or various generated *.csproj files) so as not to
# get spammed with emails.
#
# Note that if two patterns match a file, the later pattern takes precedence.
#
# Please keep this file alphabetically sorted.
#
# Reference:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/acceptance-tests @akoeplinger
/acceptance-tests/profiler-stress* @alexrp

/docs @luhenry @marek-safar
/docs/sources/mono-api-profiler.html @alexrp

/man @marek-safar @miguel
/man/mprof-report.1 @alexrp

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/Mono.Btls.Interface @baulig
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz
/mcs/class/Mono.Options @jonpryor
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig
/mcs/class/System/Mono.AppleTls @baulig
/mcs/class/System/Mono.Btls @baulig
/mcs/class/System/Mono.Net.Security @baulig
/mcs/class/System/Mono.Security.Interface @baulig
/mcs/class/System.Data @egorbo

/mcs/errors @marek-safar
/mcs/mcs @marek-safar
/mcs/tests @marek-safar

/mono/eglib @kumpera @vargaz @luhenry

/mono/metadata @vargaz @kumpera
/mono/metadata/*verify* @kumpera
/mono/metadata/*profiler* @alexrp
/mono/metadata/monitor* @brzvlad
/mono/metadata/sgen* @brzvlad
/mono/metadata/threads* @luhenry @kumpera
/mono/metadata/threadpool* @luhenry
/mono/metadata/w32* @luhenry

/mono/mini @vargaz @kumpera
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm
/mono/mini/*type-check* @lewurm
/mono/mini/interp/* @lewurm
/mono/mini/*profiler* @alexrp

/mono/profiler @alexrp @kumpera

/mono/sgen @brzvlad @kumpera

/mono/utils @kumpera @vargaz
/mono/utils/atomic* @alexrp
/mono/utils/mono-hwcap* @alexrp
/mono/utils/mono-mem* @alexrp
/mono/utils/mono-threads* @luhenry @kumpera

/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger

/packaging/ @alexischr @akoeplinger
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger
/scripts/ci @akoeplinger
/scripts/ci/run-test-profiler-stress-tests.sh @alexrp

/tools @kumpera
/tools/checker @tritao
/tools/crash-bisector @kumpera
/tools/locale-builder @marek-safar
/tools/monograph @vargaz
/tools/nuget-hash-extractor @marek-safar
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @kumpera @lambdageek
/tools/sgen @brzvlad

update comment
  mcs/build/tests.make
Owners: @marek-safar, @akoeplinger

Revert "Merge pull request #5330 from alexanderkyte/dedup_mkbundle"
  configure.ac
  man/mkbundle.1
  mcs/build/tests.make
  mcs/class/Microsoft.Build.Utilities/Makefile
  mcs/class/Microsoft.Build/Test/Microsoft.Build.Construction/ProjectRootElementTest.cs
  mcs/class/System.IdentityModel/Makefile
  mcs/class/System.Security/Makefile
  mcs/class/System.ServiceModel/Test/MetadataTests/TestContext.cs
  mcs/class/System.Web/Test/System.Web.Caching/CacheItemPriorityQueueTest.cs
  mcs/class/System.XML/Test/System.Xml/XmlUrlResolverTests.cs
  mcs/class/System/Makefile
  mcs/class/System/Test/System.IO.Compression/DeflateStreamTest.cs
  mcs/class/System/Test/System.IO.Compression/GzipStreamTest.cs
  mcs/class/System/Test/System.Net/HttpWebResponseTest.cs
  mcs/class/corlib/Makefile
  mcs/class/corlib/Test/System.Reflection/AssemblyNameTest.cs
  mcs/class/corlib/Test/System.Reflection/AssemblyTest.cs
  mcs/class/corlib/Test/System.Text/UTF8EncodingTest.cs
  mcs/tools/Makefile
  mcs/tools/mkbundle/mkbundle.cs
  mcs/tools/mkbundle/template.c
  scripts/ci/run-test-testing_aot_full.sh
Owners: @marek-safar, @miguel, @akoeplinger

[wasm] Hack around AC_CHECK_SIZEOF bug and don't hardcode -Os in CFLAGS
  configure.ac
Owners: none

[System] Fix a few hardcoded socket ports in tests
  mcs/class/System/Test/System.Net.Sockets/SocketTest.cs
  mcs/class/System/Test/System.Net.Sockets/TcpClientTest.cs
  mcs/class/System/Test/System.Net.Sockets/UdpClientTest.cs
  mcs/class/System/Test/System.Net/HttpListenerPrefixCollectionTest.cs
  mcs/class/test-helpers/NetworkHelpers.cs
Owners: @marek-safar, @akoeplinger

[System.Runtime.Remoting] Fix a few hardcoded socket ports in tests
  mcs/class/System.Runtime.Remoting/System.Runtime.Remoting_test.dll.sources
  mcs/class/System.Runtime.Remoting/Test/ActivationTests.cs
  mcs/class/System.Runtime.Remoting/Test/GenericTest.cs
  mcs/class/System.Runtime.Remoting/Test/HttpBugTests.cs
  mcs/class/System.Runtime.Remoting/Test/RemotingServicesTest.cs
  mcs/class/System.Runtime.Remoting/Test/System.Runtime.Remoting.Channels.Tcp/TcpChannelTest.cs
  mcs/class/corlib/Test/System.Runtime.Remoting/RemotingServicesTest.cs
  mcs/class/corlib/testing_aot_full_corlib_test.dll.exclude.sources
Owners: @marek-safar, @akoeplinger

[System.ServiceModel] Fix a few hardcoded socket ports in tests
  mcs/class/System.ServiceModel/System.ServiceModel.PeerResolvers/CustomPeerResolverService.cs
  mcs/class/System.ServiceModel/Test/FeatureBased/TestFixtureBase.cs
  mcs/class/System.ServiceModel/Test/System.ServiceModel.PeerResolvers/CustomPeerResolverServiceTest.cs
Owners: @marek-safar, @akoeplinger

[System.Net.Http] Fix a few hardcoded socket ports in tests
  mcs/class/System.Net.Http/System.Net.Http_test.dll.sources
  mcs/class/System.Net.Http/Test/System.Net.Http/HttpClientTest.cs
Owners: @marek-safar, @akoeplinger

[System.ServiceModel.Web] Fix a few hardcoded socket ports in tests
  mcs/class/System.ServiceModel.Web/Test/System.ServiceModel.Activation/WebScriptServiceHostFactoryTest.cs
Owners: @marek-safar, @akoeplinger

[bcl] Fix a few hardcoded socket ports in tests (#5471)
  mcs/class/System.Net.Http/System.Net.Http_test.dll.sources
  mcs/class/System.Net.Http/Test/System.Net.Http/HttpClientTest.cs
  mcs/class/System.Runtime.Remoting/System.Runtime.Remoting_test.dll.sources
  mcs/class/System.Runtime.Remoting/Test/ActivationTests.cs
  mcs/class/System.Runtime.Remoting/Test/GenericTest.cs
  mcs/class/System.Runtime.Remoting/Test/HttpBugTests.cs
  mcs/class/System.Runtime.Remoting/Test/RemotingServicesTest.cs
  mcs/class/System.Runtime.Remoting/Test/System.Runtime.Remoting.Channels.Tcp/TcpChannelTest.cs
  mcs/class/System.ServiceModel.Web/Test/System.ServiceModel.Activation/WebScriptServiceHostFactoryTest.cs
  mcs/class/System.ServiceModel/System.ServiceModel.PeerResolvers/CustomPeerResolverService.cs
  mcs/class/System.ServiceModel/Test/FeatureBased/TestFixtureBase.cs
  mcs/class/System.ServiceModel/Test/System.ServiceModel.PeerResolvers/CustomPeerResolverServiceTest.cs
  mcs/class/System/Test/System.Net.Sockets/SocketTest.cs
  mcs/class/System/Test/System.Net.Sockets/TcpClientTest.cs
  mcs/class/System/Test/System.Net.Sockets/UdpClientTest.cs
  mcs/class/System/Test/System.Net/HttpListenerPrefixCollectionTest.cs
  mcs/class/corlib/Test/System.Runtime.Remoting/RemotingServicesTest.cs
  mcs/class/corlib/testing_aot_full_corlib_test.dll.exclude.sources
  mcs/class/test-helpers/NetworkHelpers.cs
Owners: @marek-safar, @akoeplinger

Add retrying of failed tests by default to reduce flaky tests
  mcs/tools/nunit-lite/NUnitLite/nunitlite.dll.sources
Owners: none

[sdb] Fix support for async debugging in optimized mode, roslyn generates valuetype IAsyncStateMethod implementations. Fixes #58728. (#5476)
  mono/mini/debugger-agent.c
Owners: @vargaz, @kumpera

add xunit tests from corefx
  mcs/class/System.Data/Makefile
  mcs/class/System.Data/System.Data_xtest.dll.sources
  mcs/class/System.Data/corefx/PlatformDetection.cs
Owners: @egorbo

Add SqlClient corefx tests
  mcs/class/System.Data/System.Data_xtest.dll.sources
Owners: @egorbo

[marshal] Don't use a wrapper for mono_marshal_set_last_error
  mono/metadata/marshal.c
Owners: @vargaz, @kumpera

[cominterop] Get function ptr from interface before switching to blocking
  mono/metadata/cominterop.c
  mono/metadata/cominterop.h
  mono/metadata/marshal.c
Owners: @vargaz, @kumpera

Add retrying of failed tests by default to reduce flaky tests (#5461)
  mcs/tools/nunit-lite/NUnitLite/nunitlite.dll.sources
Owners: none

[w32file] Add 'kbfuse' filesystem type to known drive types array.
  mono/metadata/w32file-unix.c
Owners: @luhenry

[System]: Fix major AppleTls memory leak. Bug #56814. (#5370) (#5377)
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
Owners: @baulig

[System]: Fix major AppleTls memory leak. Bug #56814. (#5370) (#5376)
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
Owners: @baulig

[System]: Fix minor leaks in AppleTls. (#5369) (#5379)
  mcs/class/System/Mono.AppleTls/AppleCertificateHelper.cs
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
  mcs/class/System/Mono.AppleTls/Trust.cs
  mcs/class/System/System.Net/WebConnection.cs
Owners: @baulig, @marek-safar, @akoeplinger

[Mono.Security]: Add 'MonoTlsProvider.SupportsCleanShutdown' and 'MonoTlsSettings.SendCloseNotify'. (#5465) (#5478)
  mcs/class/Mono.Security/Mono.Security.Interface/MonoTlsProvider.cs
  mcs/class/Mono.Security/Mono.Security.Interface/MonoTlsSettings.cs
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
  mcs/class/System/Mono.AppleTls/AppleTlsProvider.cs
  mcs/class/System/Mono.Btls/MonoBtlsContext.cs
  mcs/class/System/Mono.Btls/MonoBtlsProvider.cs
  mcs/class/System/Mono.Net.Security/LegacyTlsProvider.cs
Owners: @marek-safar, @akoeplinger, @baulig

[socket] Reduce handle manipulations in native (#5378)
  configure.ac
  mcs/class/System/System.Net.Sockets/Socket.cs
  mono/metadata/icall-def.h
  mono/metadata/w32socket-internals.h
  mono/metadata/w32socket.c
  mono/metadata/w32socket.h
Owners: @marek-safar, @akoeplinger, @vargaz, @kumpera, @luhenry

Fixes issue where we would crash if delegate is created on un-inflated generic type (#648)
  mono/metadata/icall.c
Owners: @vargaz, @kumpera

Add z14 support and extend z13 support
  mono/arch/s390x/s390x-codegen.h
  mono/mini/mini-s390x.c
  mono/utils/mono-hwcap-s390x.c
  mono/utils/mono-hwcap-vars.h
Owners: @vargaz, @kumpera, @alexrp

Make it build.
  mcs/class/System/System.Net/WebConnection.cs
Owners: @marek-safar, @akoeplinger

[w32file] Add 'kbfuse' filesystem type to known drive types array.
  mono/metadata/w32file-unix.c
Owners: @luhenry

Improve `class.c` for TSan instrumentation: - use `Unlocked* ()` for `class_gparam_count`, `classes_size` and `inflated_methods_size` - dead code: `class_ext_size` - fix a typo: "the the" -> "let the"
  mono/metadata/class.c
Owners: @vargaz, @kumpera

update comment
  mcs/build/tests.make
Owners: @marek-safar, @akoeplinger

xunit on windows doesn't like ln to xunit.execution.desktop.dll, provide a copy
  mcs/build/tests.make
Owners: @marek-safar, @akoeplinger

Fixing another confusing typo
  mcs/tools/mkbundle/mkbundle.cs
Owners: none

mkbundle: add console confirmations of actions (#5457)
  mcs/tools/mkbundle/mkbundle.cs
Owners: none

[ci] Reenable xunit tests on Windows
  scripts/ci/run-test-default.sh
Owners: @akoeplinger

[bockbuild] Blacklist more llvm libraries/binaries.
  packaging/MacSDK/packaging/mdk_blacklist.sh
Owners: @alexischr, @akoeplinger

[ci] Reenable xunit tests on Windows (#5487)
  scripts/ci/run-test-default.sh
Owners: @akoeplinger

[bockbuild] Blacklist more llvm libraries/binaries. (#5488)
  packaging/MacSDK/packaging/mdk_blacklist.sh
Owners: @alexischr, @akoeplinger

Improve `class.c` for TSan instrumentation: (#5485)
  mono/metadata/class.c
Owners: @vargaz, @kumpera

Interlock `inflated_signatures_size`, `memberref_sig_cache_size`, `methods_size` and `signatures_size`
  mono/metadata/loader.c
Owners: @vargaz, @kumpera

[mini] Remove never defined MONO_ARCH_STACK_GROWS_UP
  mono/mini/mini-exceptions.c
Owners: @lewurm

[threads] Rely on MonoThreadInfo.stack_start_limit and MonoThreadInfo.stack_end instead of calling mono_thread_info_get_stack_bounds which is very slow
  mono/metadata/icall.c
Owners: @vargaz, @kumpera

[mini] Handle magic interfaces in common_trampoline as if they were variant.
  mono/mini/mini-trampolines.c
Owners: @vargaz, @kumpera
