Repository mono/mono, changes with the owners that CODEOWNERS names for each.
All owners: @akoeplinger, @alexrp, @luhenry, @marek-safar, @miguel, @vargaz, @lambdageek, @baulig, @egorbo, @jonpryor, @kumpera, @brzvlad, @lewurm, @alexischr, @radical, @tritao, @rolfbjarne

CODEOWNERS:

# Mono Code Owners File
#
# GitHub uses this file to determine who to ping for reviews on pull requests.
# If you're the primary maintainer of an area of Mono and you don't mind
# reviewing pull requests, please add yourself to this file. You may want to
# avoid adding entries for commonly changed or automatically generated files
# (e.g. stuff in external/, or various generated *.csproj files) so as not to
# get spammed with emails.
#
# Note that if two patterns match a file, the later pattern takes precedence.
#
# Please keep this file alphabetically sorted.
#
# Reference:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

/acceptance-tests @akoeplinger
/acceptance-tests/profiler-stress* @alexrp

/docs @luhenry @marek-safar
/docs/sources/mono-api-profiler.html @alexrp

/man @marek-safar @miguel
/man/mprof-report.1 @alexrp

/mcs/build @marek-safar @akoeplinger

/mcs/class @marek-safar @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/Mono.Btls.Interface @baulig
/mcs/class/Mono.Data.Tds @egorbo
/mcs/class/Mono.Debugger.Soft @vargaz
/mcs/class/Mono.Options @jonpryor
/mcs/class/Mono.Profiler.Log @alexrp
/mcs/class/Mono.Security/Mono.Security/Interface @baulig
/mcs/class/System/Mono.AppleTls @baulig
/mcs/class/System/Mono.Btls @baulig
/mcs/class/System/Mono.Net.Security @baulig
/mcs/class/System/Mono.Security.Interface @baulig
/mcs/class/System.Data @egorbo

/mcs/errors @marek-safar
/mcs/mcs @marek-safar
/mcs/tests @marek-safar

/mono/eglib @kumpera @vargaz @luhenry

/mono/metadata @vargaz @kumpera
/mono/metadata/*verify* @kumpera
/mono/metadata/*profiler* @alexrp
/mono/metadata/monitor* @brzvlad
/mono/metadata/sgen* @brzvlad
/mono/metadata/threads* @luhenry @kumpera
/mono/metadata/threadpool* @luhenry
/mono/metadata/w32* @luhenry

/mono/mini @vargaz @kumpera
/mono/mini/*cfgdump* @lewurm
/mono/mini/*exceptions* @lewurm
/mono/mini/*ppc* @lewurm
/mono/mini/*type-check* @lewurm
/mono/mini/interp/* @lewurm
/mono/mini/*profiler* @alexrp

/mono/profiler @alexrp @kumpera

/mono/sgen @brzvlad @kumpera

/mono/utils @kumpera @vargaz
/mono/utils/atomic* @alexrp
/mono/utils/mono-hwcap* @alexrp
/mono/utils/mono-mem* @alexrp
/mono/utils/mono-threads* @luhenry @kumpera

/msvc/*profiler* @alexrp
/msvc/scripts @akoeplinger

/packaging/ @alexischr @akoeplinger
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/samples/profiler @alexrp
/samples/size @alexrp

/scripts @akoeplinger
/scripts/ci @akoeplinger
/scripts/ci/run-test-profiler-stress-tests.sh @alexrp

/tools @kumpera
/tools/checker @tritao
/tools/crash-bisector @kumpera
/tools/locale-builder @marek-safar
/tools/monograph @vargaz
/tools/nuget-hash-extractor @marek-safar
/tools/offsets-tool @lewurm @rolfbjarne
/tools/pedump @kumpera @lambdageek
/tools/sgen @brzvlad

[System]: Fix minor leaks in AppleTls. (#5369) (#5380)
  mcs/class/System/Mono.AppleTls/AppleCertificateHelper.cs
  mcs/class/System/Mono.AppleTls/AppleTlsContext.cs
  mcs/class/System/Mono.AppleTls/Trust.cs
Owners: @baulig

[mini] Remove never defined MONO_ARCH_STACK_GROWS_UP (#5491)
  mono/mini/mini-exceptions.c
Owners: @lewurm

[ci] Retry flaky tests only on PRs
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger

Use Request.ProtocolVersion, not ServicePoint.ProtocolVersion (which isn't set until we go the first response).
  mcs/class/System/System.Net/WebConnectionTunnel.cs
Owners: @marek-safar, @akoeplinger

[sdb] Fix support for async debugging in optimized mode, roslyn generates valuetype IAsyncStateMethod implementations. Fixes #58728. (#5476)
  mono/mini/debugger-agent.c
Owners: @vargaz, @kumpera

[mono-api-html] Allow `-r` to ignore class removals
  mcs/tools/mono-api-html/ClassComparer.cs
  mcs/tools/mono-api-html/NamespaceComparer.cs
Owners: none

[mono-api-html] Allow `-r` to ignore class removals
  mcs/tools/mono-api-html/ClassComparer.cs
  mcs/tools/mono-api-html/NamespaceComparer.cs
Owners: none

[wasm] Fix eglib issues with WASM.
  mono/eglib/eglib-config.h.in
  mono/eglib/gpath.c
Owners: @kumpera, @vargaz, @luhenry

[runtime] Replace a mono_class_vtable with mono_class_vtable_full.
  mono/metadata/object.c
Owners: @vargaz, @kumpera

[wasm] Move RETURN_ADDRESS macros to mini.h, use them in mini-exceptions.h and add wasm version.
  mono/mini/mini-exceptions.c
  mono/mini/mini-wasm.c
  mono/mini/mini.h
  mono/mini/trace.c
Owners: @lewurm, @vargaz, @kumpera

[wasm] Disable posix threading backend and fix wasm's.
  mono/utils/mono-threads-coop.c
  mono/utils/mono-threads-wasm.c
Owners: @luhenry, @kumpera

[wasm] Make sure we don't use the posix dl backend with wasm
  mono/utils/mono-dl-posix.c
Owners: @kumpera, @vargaz

[wasm] Wasm actually has inet_pton but configure doesn't detect it.
  mono/utils/networking-missing.c
Owners: @kumpera, @vargaz

[wasm][sgen] Introduce DEFAULT_SWEEP_MODE, move DEFAULT_MAJOR to sgen-config.h and make wasm defaults serial.
  mono/sgen/sgen-conf.h
  mono/sgen/sgen-gc.c
  mono/sgen/sgen-marksweep.c
Owners: @brzvlad, @kumpera

Clarifying the usage of the --library option
  man/mkbundle.1
Owners: @marek-safar, @miguel

[ci] Retry flaky tests only on PRs (#5492)
  scripts/ci/run-jenkins.sh
Owners: @akoeplinger

Clarifying the usage of the --library option
  man/mkbundle.1
Owners: @marek-safar, @miguel

[exceptions] Remove dead return value
  mono/mini/exceptions-amd64.c
  mono/mini/exceptions-arm.c
  mono/mini/exceptions-arm64.c
  mono/mini/exceptions-mips.c
  mono/mini/exceptions-ppc.c
  mono/mini/exceptions-s390x.c
  mono/mini/exceptions-sparc.c
  mono/mini/exceptions-x86.c
  mono/mini/mini-exceptions.c
  mono/mini/mini.h
Owners: @lewurm, @vargaz, @kumpera

[ci] Add the coverage collection script.
  scripts/ci/collect-coverage.sh
Owners: @akoeplinger

[llvm] Set the MonoJitInfo.from_llvm flag for methods loaded from llvm, it got broken by 1debf3934120547b3003c0ec4ec90bae4b08ee13. (#5223)
  mono/mini/aot-runtime.c
Owners: @vargaz, @kumpera

Use `Unlocked* ()` for operations on `joinable_thread_count` - mark the (harmless) data race of the fastpath
  mono/metadata/threads.c
  mono/utils/unlocked.h
Owners: @luhenry, @kumpera, @vargaz

Fix racy counter and unify the styles
  mono/mini/mini.c
Owners: @vargaz, @kumpera

[mini] Handle magic interfaces in common_trampoline as if they were variant.
  mono/mini/mini-trampolines.c
Owners: @vargaz, @kumpera

[mini] Handle magic interfaces in common_trampoline as if they were variant.
  mono/mini/mini-trampolines.c
Owners: @vargaz, @kumpera

[amd64] fix tailcall insn size
  mono/mini/mini-amd64.c
Owners: @vargaz, @kumpera

Fix racy counter and unify the styles
  mono/mini/mini.c
Owners: @vargaz, @kumpera

Use `Unlocked* ()` to mark racy counters - also fix a typo
  mono/metadata/metadata.c
Owners: @vargaz, @kumpera

Use `Unlocked* ()` for operations on `joinable_thread_count` - mark the (harmless) data race of the fastpath
  mono/metadata/threads.c
  mono/utils/unlocked.h
Owners: @luhenry, @kumpera, @vargaz
